.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0 100px 0;
}
 .about-container img{
    width: 250px;
 }
 .about-container h2 {
    font-family: var(--font-h1);
    font-size: 50px;
    color: var(--color-h2);
    margin-bottom: 10px;
}
.about-block {
    width: 40%;
    padding: 0 16px 0 16px;
}
 .about-container p {
    font-family: var(--font-text);
    font-weight: var(--weight-text);
    font-size: var(--size-text);
}


/*----------Card Container----------*/
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card-container .card-item{
    background-image: url(/public/assets/img/background-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.381);
    text-align: center;
    padding: 50px;
    margin: 20px;
    width: 400px
}
.card-container .card-item h2{
    font-family: var(--font-h2);
    font-size: var(--size-h2);
    color: #f1f1f1;
    margin-bottom: 40px;
}

.card-item img{
    width: 100px;
    margin-bottom: 40px;
}
.card-container .card-item p{
    font-family: var(--font-text);
    font-weight: var(--weight-text);
    font-size: var(--size-text);
    color: #f1f1f1;
    text-align: justify;
}
/*------------TEAM CONTAINER------------*/
.team-container{
    margin: 100px 0 100px 0;
}
.team-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px 0 16px;
    text-align: center;
}
.team-block h2{
    font-family: var(--font-h1);
    font-size: 50px;
    color: var(--color-h2);
    margin-bottom: 10px;
}
.team-block img {
    width: 600px;
    border-radius: 50px;
    margin-bottom: 20px;
}
.team-block p {
    font-family: var(--font-text);
    font-weight: var(--weight-text);
    font-size: var(--size-text);
    width: 50%;
}

