.brands-header .geometric1{
    position: absolute;
    top: 200px;
    right: 60px;
    z-index: -1;
    animation: floating 5s infinite;
}
.brands-header .geometric2{
    position: absolute;
    top: 500px;
    left: 0;
    z-index: -1;
    animation: rotation 40s infinite;
}
.brands-header .geometric3{
    position: absolute;
    top: 300px;
    left: 100px;
    z-index: -1;
    animation: floating 2s infinite;
}
.brands-header .geometric4{
    position: absolute;
    top: 500px;
    right: 200px;
    z-index: -1;
    animation: floating 2s infinite;
}
.brands-header .geometric5{
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: -1;
    animation: floating 5s infinite;
    width: 100px;
}
.brands-header .line-shape{
    position: absolute;
    top: 60px;
    width: 40%;
    z-index: -1;
}

.brands-custom-bg{
    padding: 200px 0 200px;
}
.content-sub-block{
    position: relative;
}
.brands-custom-bg .content-sub-block h2{
    text-align: center;
    margin-bottom: 100px;
}
.content-sub-block .line-shape{
    position: absolute;
    width: 30%;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

/*--------------------BRAND LOGO CONTAINER-------------------------*/
.brands-logo-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 100px;
    row-gap: 100px;
    align-items: center;
}

.brands-logo-container .brand-item{
    background-color: #fff;
    transition: 0.5s;
    border-radius: 15px;
    cursor: pointer;
}
.brands-logo-container .brand-item:hover{
    transform: translateY(-10px);
}

.brands-logo-container .brand-item img{
    width: 250px;
    height: 250px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    filter: grayscale(100%);
}
.brands-logo-container .brand-item h3{
    font-family: 'gilroy-bold',sans-serif;
    font-size: clamp(20px, 5vw, 28px);
    color: #2A2A2A;
    /* font-weight: 800; */
    padding: 30px 0px;
    text-align: center;

}

.brand-container1 .circle-item {
    position: absolute;
    width: 150px;
    bottom: 0;
    right: 20%;
    animation: rotation 35s infinite;
}

.brand-container1 .square-item1 {
    position: absolute;
    width: 10px;
    top: 15%;
    left: 5%;
    animation: float-item 5s infinite;
}

.brand-container1 .square-item2 {
    position: absolute;
    width: 15px;
    bottom: 0;
    left: 10%;
    opacity: 0.5;
    animation: float-item 5s infinite;
}

.brand-container1 .square-item3 {
    position: absolute;
    width: 13px;
    top: 10%;
    left: 45%;
    animation: float-item 5s infinite;
}

.brand-container1 .backslash-item {
    position: absolute;
    width: 15px;
    top: 10%;
    right: 25%;
}

.brand-container1 .more-item1 {
    position: absolute;
    width: 20px;
    top: 10%;
    right: 35%;
    animation: rotation 35s infinite;
}

.brand-container1 .more-item2 {
    position: absolute;
    width: 20px;
    bottom: 10%;
    right: 20%;
    animation: rotation 35s infinite;
}