.brands-header {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 225px auto 0;
}

.brands-header h1 {
    font-family: var(--home-font-h1);
    font-size: 78px;
    line-height: var(--home-line-h1);
    font-weight: var(--home-weight-h1);
    color: var(--home-color-h1);
    text-align: center;
    width: 60%;
    color: #101621;
}

.brands-header p {
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    line-height: 1.75em;
    width: 70%;
    text-align: center;
    color: #73737B;
}

.brands-header .geometric1{
    position: absolute;
    top: 200px;
    right: 60px;
    z-index: -1;
    animation: floating 5s infinite;
}
.brands-header .geometric2{
    position: absolute;
    top: 500px;
    left: 0;
    z-index: -1;
    animation: rotation 40s infinite;
}
.brands-header .geometric3{
    position: absolute;
    top: 300px;
    left: 100px;
    z-index: -1;
    animation: floating 2s infinite;
}
.brands-header .geometric4{
    position: absolute;
    top: 500px;
    right: 200px;
    z-index: -1;
    animation: floating 2s infinite;
}
.brands-header .geometric5{
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: -1;
    animation: floating 5s infinite;
    width: 100px;
}
.brands-header .line-shape{
    position: absolute;
    top: 60px;
    width: 40%;
    z-index: -1;
}

.brands-custom-bg{
    padding: 200px 0 200px;
}
.content-sub-block{
    position: relative;
}
.brands-custom-bg .content-sub-block h2{
    text-align: center;
    font-family: 'Gilroy-black', sans-serif;
    font-size: 42px;
    font-weight: 600;
    color: #101621;
    margin-bottom: 100px;
}
.content-sub-block .line-shape{
    position: absolute;
    width: 40%;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}
.brands-logo-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 50px;

    align-items: center;
}

.brands-logo-container .brand-item{
    background-color: #fff;
    transition: 0.5s;
    border-radius: 15px;
}
.brands-logo-container .brand-item:hover{
    transform: translateY(-10px);
}

.brands-logo-container .brand-item img{
    width: 300px;
    height: 250px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}


.brands-logo-container .brand-item h3{
    font-family: var(--home-font-h1);
    font-size: 28px;
    color: #2A2A2A;
    font-weight: 800;
    padding: 30px 0px;
    text-align: center;

}

/*------------- Brands text block-----------------*/
.brand-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 16px 50px 16px;
    position: relative;
}

.brand-container1 .brand-block {
    width: 40%;
}

.brand-container1 .brand-block h2 {
    font-family: 'gilroy-black', sans-serif;
    color: #202020;
    font-size: 42px;
    line-height: 1.35em;
    margin-bottom: 20px;
}
.brand-container1 .brand-block p {
    margin-top: 30px;
    font-family: var(--font-text);
    font-size: var(--size-text);
    color: var(--color-text);
    line-height: var(--line-text);
    font-weight: var(--weight-text);
    width: 90%;
}

.brand-container1 .image-block {
    width: 600px;
    border-radius: 20px;
}

.brand-container1 .circle-item {
    position: absolute;
    width: 150px;
    bottom: 0;
    right: 5%;
    animation: rotation 35s infinite;
}

.brand-container1 .square-item1 {
    position: absolute;
    width: 10px;
    top: 15%;
    left: 5%;
    animation: float-item 5s infinite;
}

.brand-container1 .square-item2 {
    position: absolute;
    width: 15px;
    bottom: 0;
    left: 10%;
    opacity: 0.5;
    animation: float-item 5s infinite;
}

.brand-container1 .square-item3 {
    position: absolute;
    width: 13px;
    top: 10%;
    left: 45%;
    animation: float-item 5s infinite;
}

.brand-container1 .backslash-item {
    position: absolute;
    width: 15px;
    top: 10%;
    right: 25%;
}

.brand-container1 .more-item1 {
    position: absolute;
    width: 20px;
    top: 10%;
    right: 35%;
    animation: rotation 35s infinite;
}

.brand-container1 .more-item2 {
    position: absolute;
    width: 20px;
    bottom: 10%;
    left: 50%;
    animation: rotation 35s infinite;
}