.update-link-container{
    width: 90%;
    /* margin: 200px auto 0; */
    padding: 40px 0;
    box-shadow: 0px 0px 15px -3px #33333349;
    
}

.update-link-container h2{
    margin: 0 0 50px 40px;
    padding-top: 10px;
    font-family: 'Gilroy-black', sans-serif;
    letter-spacing: 0.5px;
    font-size: 18px;

}
.update-link-container .affiliate-container{
    /* display: flex; */
    /* flex-direction: column; */
}
.affiliate-container .affiliate-link label{
    padding-right: 30px;
    padding-left: 16px;
    font-family: 'Rubik',sans-serif;
}
.affiliate-container .affiliate-link input{
    padding: 8px;
    width: 60%;
    margin-bottom: 20px;
    border: solid 2px rgba(167, 167, 167, 0.329);
    border-radius: 5px;
    font-family: 'rubik', sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px;
    background: #d6d6d66e;
}
.affiliate-container .affiliate-link input:focus{
    outline: none;
}
.affiliate-container .affiliate-link button {
    padding: 5px 5px 6px 5px;
    cursor: var(--pointer-btn);
    transition: 0.5s;
    color: var(--color-text-btn);
    font-family: var(--font-btn);
    font-size: 15px;
    border: 2px solid #fd6a5e;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color: var(--color-btn);
}
.affiliate-container .affiliate-link button:hover{
    background-color: #e96458;
}

.custom-position-success{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.affiliate-container .update-paypal label{
    /* padding-right: 20px; */
    padding-left: 16px;
    font-family: 'Rubik', sans-serif;
}
.affiliate-container .update-paypal input{
    padding: 8px;
    width: 60%;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
    font-family: 'rubik', sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px;
    background: #d6d6d66e;
    border: solid 2px rgba(167, 167, 167, 0.329);
}
.affiliate-container .update-paypal input:focus {
    outline: none;
}
.affiliate-container .update-paypal button{
        padding: 5px 5px 6px 5px;
        /* margin: 2px 0 0 -127px; */
        cursor: var(--pointer-btn);
        transition: 0.5s;
        color: var(--color-text-btn);
        font-family: var(--font-btn);
        font-size: 15px;
        border: 2px solid #fd6a5e;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        background-color: var(--color-btn);
}
.affiliate-container .update-paypal button:hover {
    background-color: #e96458;
}


/*-----------------AFFILIATE PER PLAN-------------------*/
.affiliate-plan-container{
    margin: 100px auto 0;
    width: 70%;
    box-shadow: 0px 0px 15px -3px #33333349;
    background: #fff;
    padding: 20px;
    font-family: "Rubik",sans-serif;
}

 #affiliates-plan{
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 0px;
    border: solid 2px rgba(167, 167, 167, 0.329);
    border-radius: 3px;
    font-family: 'rubik', sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px;
    width: 60%;
    background: #dddddd73;
}
 #affiliates-plan:focus{
    outline: none;
 }
 .affiliate-label{
    padding-right: 57px;
 }
