.container-updatePassword-and-subscribe{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}
/*-------- API KEY----------------------*/
.update-link-container {
    width: 98%;
    margin: 200px auto 0;
    padding: 40px 0;
    box-shadow: 0px 0px 15px -3px #33333349;

}

.update-link-container h2 {
    margin: 0 0 0 40px;
    padding-top: 10px;
    font-family: 'Gilroy-black', sans-serif;
    letter-spacing: 0.5px;
    font-size: 18px;

}

.update-link-container .affiliate-container {
    display: flex;
    flex-direction: column;
}

.affiliate-container .affiliate-link label {
    padding-right: 21px;
    padding-left: 308px;
    font-family: 'Rubik', sans-serif;
}

.affiliate-container .affiliate-link input {
    padding: 8px;
    width: 60%;
    margin-bottom: 20px;
    border: solid 2px rgba(167, 167, 167, 0.329);
    border-radius: 5px;
    font-family: 'rubik', sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px;
    background: #d6d6d66e;
}

.affiliate-container .affiliate-link input:focus {
    outline: none;
}
/*---------PRICING CARD----------------*/
.full-container-other-subscribe{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.select-other-subscribe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
}
.card-pricing{
    width: 300px;
    border-radius: 6px;
    font-family: 'Gilroy-semibold', sans-serif;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 5px 18px -6px rgba(0, 0, 0, 0.15);
}
.card-pricing h2{
    font-family: 'gilroy-bold',sans-serif;
    font-weight: 800;
    font-size: 23px;
}
.card-pricing .pricing-plan {
    display: flex;
    justify-content: center;
}

.card-pricing .pricing-plan h3 {
    color: #000;
    font-family: "gilroy-bold",sans-serif;
    font-size: 35px;
    margin-bottom: 10px;

}
.list-include-plan p {
    font-family: 'rubik';
    font-size: 15px;
    color: #000;
    font-weight: 900;
}
.btn-bottom1{
    margin-top: 90px;
}
.btn-bottom2{
    margin-top: 45px;
}

.card-pricing .pricing-plan span {
    font-family: 'gilroy-semibold', sans-serif;
    font-size: 20px;
}

/*--------------FORM PASSWORD UPDATE---------------*/
.updated-password-form{
    text-align: center;
}
.modify-password-container{
    height: 450px;
    width: 360px;
    padding: 20px 0;
    font-family: 'Rubik', sans-serif;
    box-shadow: 0 0 10px -1px #00000036;
}
.modify-password-container h2{
    text-align: center;
    font-size: 22px;
}

.modify-password-container input {
    padding: 15px;
    margin-bottom: 20px;
    border: solid 2px rgba(167, 167, 167, 0.329);
    border-radius: 5px;
    text-indent: 40px;
    font-family: 'rubik', sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px;
}
.modify-password-container button {
    display: block;
    padding: 15px 40px 15px 40px;
    cursor: var(--pointer-btn);
    transition: 0.5s;
    color: var(--color-text-btn);
    font-family: var(--font-btn);
    font-size: 15px;
    border: 2px solid #fd6a5e;
    border-radius: 6px;
    letter-spacing: 2px;
    background-color: var(--color-btn);
    margin: 10px auto 0;
}

.modify-password-container button:hover {
    color: #fd6a5e;
    background: #fff;
}

.success{
    background: rgba(165, 240, 165, 0.678);
    height: 50px;
    text-align: center;
    padding: 15px 0 20px 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    margin: 10px auto 0;
    color: rgb(7, 163, 7);

}

.error{
    background: rgba(252, 182, 54, 0.562);
    margin: 25px 0 0 0;
    text-align: center;
    padding: 15px 1px 20px 1px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    color: rgb(102, 102, 102);
}

.cancel-incs h2{
    margin-top: 100px;
    text-align: center;
}