.faq-header {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: var(--font-h2);
    font-size: 35px;
}
.faq-header .circle-anim1 {
    position: absolute;
    top: 30%;
    left: 10%;
    background: rgba(241, 166, 26, 0.411);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    animation: moveCircle 10s infinite linear;
}

.faq-header .circle-anim2 {
    position: absolute;
    top: 50%;
    left: 10%;
    background: rgba(35, 172, 236, 0.363);
    height: 7px;
    width: 7px;
    border-radius: 50%;
    animation: moveCircle 12s infinite linear;
}

.faq-header .circle-anim3 {
    position: absolute;
    top: 65%;
    left: 10%;
    background: rgba(245, 99, 220, 0.363);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    animation: moveCircle 14s infinite linear;
}

.faq-header .circle-anim4 {
    position: absolute;
    top: 30%;
    right: 10%;
    background: rgba(241, 166, 26, 0.411);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    animation: moveCircle 10s infinite linear;
}

.faq-header.circle-anim5 {
    position: absolute;
    top: 50%;
    right: 10%;
    background: rgba(35, 172, 236, 0.363);
    height: 7px;
    width: 7px;
    border-radius: 50%;
    animation: moveCircle 12s infinite linear;
}

.faq-header .circle-anim6 {
    position: absolute;
    top: 65%;
    right: 10%;
    background: rgba(245, 99, 220, 0.363);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    animation: moveCircle 14s infinite linear;
}


.faq{
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #fffbf2, #edfffd);
}

.faq .faq-question{
    background-color: #fff;
    margin: 50px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.212);
    width: 60%;
    height: 200px;
}

.faq .faq-question h2{
    font-family: var(--font-h2);
    font-size: var(--size-h2);
    color: var(--color-h2);
    margin-bottom: 10px;
}

.faq .faq-question p{
    font-family: var(--font-text);
    font-weight: var(--weight-text);
    font-size: var(--size-text);
}

.faq-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 0;
}

.faq-block{
    width: 40%;
    padding: 0 16px 0 16px;
}
.faq-container img{
    width: 300px;
    padding: 0 25px 0 25px;
}
.faq-container .image-block{
    width: 600px;
}

.faq-block h2 {
    font-family: var(--font-h1);
    font-size: 40px;
    color: var(--color-h2);
}

.faq-block p {
    margin-top: 30px;
    font-family: var(--font-text);
    font-weight: var(--weight-text);
    font-size: var(--size-text);
    color: var(--font-color);
    line-height: var(--height-line-text);
}