.faq-header {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.faq-header .title-text {
    margin-top: 150px;
    width: 60%;
    text-align: center;
    position: relative;
}

.faq-header .title-text h1 {
    font-family: var(--home-font-h1);
    font-size: 80px;
    line-height: var(--home-line-h1);
    font-weight: var(--home-weight-h1);
    color: var(--home-color-h1);
    text-align: center;
}

.faq-header .title-text .line-shape {
    position: absolute;
    width: 70%;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}
.faq-header .circle-anim1 {
    position: absolute;
    top: 30%;
    left: 10%;
    background: rgba(241, 166, 26, 0.411);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    animation: moveCircle 10s infinite linear;
}

.faq-header .circle-anim2 {
    position: absolute;
    top: 50%;
    left: 10%;
    background: rgba(35, 172, 236, 0.363);
    height: 7px;
    width: 7px;
    border-radius: 50%;
    animation: moveCircle 12s infinite linear;
}

.faq-header .circle-anim3 {
    position: absolute;
    top: 65%;
    left: 10%;
    background: rgba(245, 99, 220, 0.363);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    animation: moveCircle 14s infinite linear;
}

.faq-header .circle-anim4 {
    position: absolute;
    top: 30%;
    right: 10%;
    background: rgba(241, 166, 26, 0.411);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    animation: moveCircle 10s infinite linear;
}

.faq-header.circle-anim5 {
    position: absolute;
    top: 50%;
    right: 10%;
    background: rgba(35, 172, 236, 0.363);
    height: 7px;
    width: 7px;
    border-radius: 50%;
    animation: moveCircle 12s infinite linear;
}

.faq-header .circle-anim6 {
    position: absolute;
    top: 65%;
    right: 10%;
    background: rgba(245, 99, 220, 0.363);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    animation: moveCircle 14s infinite linear;
}

