
.features-header .content-block{
    margin-top: 0px;
    position: relative;
}

.features-header .line-shape{
    position: absolute;
    width: 60%;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

.features-header .square-item1{
    position: absolute;
    width: 7px;
    top: 55%;
    left: 10%;
    animation: float-item 5s infinite;
}
.features-header .square-item2{
    position: absolute;
    width: 10px;
    top: 30%;
    left: 25%;
    animation: float-item 5s infinite;
}
.features-header .square-item3{
    position: absolute;
    width: 10px;
    top: 85%;
    left: 25%;
    opacity: 0.5;
    animation: float-item 5s infinite;
}
.features-header .square-item4{
    position: absolute;
    width: 10px;
    top: 55%;
    right: 10%;
    opacity: 0.5;
    animation: float-item 5s infinite;
}
.features-header .square-item5{
    position: absolute;
    width: 7px;
    top: 30%;
    right: 25%;
    animation: float-item 5s infinite;
}
.features-header .square-item6{
    position: absolute;
    width: 10px;
    top: 85%;
    right: 25%;
    animation: float-item 5s infinite;
}

/*------------FEATURES LISTING X3-----------*/
.features-listing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
    margin-top: 150px;
}

.features-listing-container .item {
    margin-bottom: 50px;
    width: 300px;
}

.features-listing-container .item h4 {
    /* font-family: 'gilroy-bold', sans-serif;
    font-size: 24px;
    color: #101621; */
    text-decoration-line: underline;
    text-decoration-color: #FFB840;
    text-decoration-thickness: 3px;
}

.features-listing-container .item p {
    font-size: 18px;
    margin-top: 10px;
}

.features-listing-container .item img {
    width: 50px;
    padding-bottom: 30px;
}

.features-container1 .square-item1 {
    position: absolute;
    width: 15px;
    top: 10%;
    left: 25%;
    animation: float-item 5s infinite;
}
.features-container1 .square-item2 {
    position: absolute;
    width: 10px;
    top: 60%;
    left: 3%;
    opacity: 0.5;
    animation: float-item 5s infinite;
}
.features-container1 .square-item3 {
    position: absolute;
    width: 15px;
    top: 50%;
    right: 5%;
    animation: float-item 5s infinite;
}
.features-container1 .square-item4 {
    position: absolute;
    width: 13px;
    bottom: 5%;
    left: 10%;
    animation: float-item 5s infinite;
}
.features-container1 .circle-item {
    position: absolute;
    width: 100px;
    bottom: 20%;
    right: 15%;
    animation: rotation 35s infinite;
    z-index: -1;
}


.features-container2 .flock-item1{
    position: absolute;
    width: 150px;
    top: 7%;
    left: 3%;
}
.features-container2 .flock-item2{
    position: absolute;
    width: 150px;
    bottom: 5%;
    left: 35%;
    transform: rotate(180deg);
}
.features-container2 .triangle-item{
    position: absolute;
    width: 150px;
    top: 10%;
    left: 40%;
    animation: floating 5s infinite;
    z-index: -1;
}

.features-container3 .flock-item1 {
    position: absolute;
    top: 0%;
    right: 5%;
}
.features-container3 .flock-item2 {
    position: absolute;
    bottom: 0%;
    right: 30%;
}
.features-container3 .circle-item {
    position: absolute;
    width: 100px;
    bottom: 10%;
    right: 30%;
    animation: rotation 35s infinite;
    z-index: -1;
}

/*---------- FEATURES container 4-----------------*/

.features-container4 .triangle-item {
    position: absolute;
    width: 150px;
    top: 10%;
    left: 40%;
    animation: floating 5s infinite;
    z-index: -1;
}

.features-container4 .square-item1 {
    position: absolute;
    width: 10px;
    top: 15%;
    left: 5%;
    animation: float-item 5s infinite;
}

.features-container4 .square-item2 {
    position: absolute;
    width: 10px;
    top: 85%;
    left: 8%;
    opacity: 0.5;
    animation: float-item 5s infinite;
}

.features-container4 .square-item3 {
    position: absolute;
    width: 10px;
    top: 70%;
    left: 40%;
    opacity: 0.5;
    animation: float-item 5s infinite;
}

/*---------- FEATURES container 5-----------------*/
.features-container5 .circle-item {
    position: absolute;
    width: 150px;
    bottom: 80px;
    right: 15%;
    animation: rotation 35s infinite;
    z-index: -1;
}

.features-container5 .square-item1 {
    position: absolute;
    width: 10px;
    top: 15%;
    left: 5%;
    animation: float-item 5s infinite;
}

.features-container5 .square-item2 {
    position: absolute;
    width: 15px;
    bottom: 0;
    left: 10%;
    opacity: 0.5;
    animation: float-item 5s infinite;
}

.features-container5 .square-item3 {
    position: absolute;
    width: 13px;
    top: 10%;
    left: 45%;
    animation: float-item 5s infinite;
}
.features-container5 .backslash-item {
    position: absolute;
    width: 15px;
    top: 10%;
    right: 25%;
}
.features-container5 .more-item1 {
    position: absolute;
    width: 20px;
    top: 10%;
    right: 35%;
    animation: rotation 35s infinite;
    z-index: -1;
}
.features-container5 .more-item2 {
    position: absolute;
    width: 20px;
    bottom: 10%;
    left: 50%;
    animation: rotation 35s infinite;
}