.home-header{
    margin-top:90px;
    margin-bottom: 0px;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 170px;

}

.title-and-form{
    width: 35%;
    position: relative;
}
.header-title-custom{
    text-align: left;
    position: relative;
}
.header-title-custom .shape-header{
    width: 80%;
    position: absolute;
    top: 60px;
    z-index: -1;
}
.title-and-form h1{
    font-family: var(--home-font-h1) ;
    font-size: 78px;
    color: var(--home-color-h1);
    font-weight: var(--home-weight-h1) ;
    line-height: var(--home-line-h1);
}
.title-and-form h2{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #565657;
    line-height: 1.5em;
}

.home-header .floating-illustration{
    position: relative;

}
.home-header .floating-illustration .illustration{
    width: 550px;
}
.floating-illustration .float-message1 {

    width: 80px;
    position: absolute;
    top: 50px;
    left: 170px;
    animation: floating 4s infinite;
}

.floating-illustration .float-message2 {
    width: 60px;
    position: absolute;
    top: 5%;
    right: 50px;
    animation-name: rotate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes floating {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0%);
    }
}
/* ---------------Brands animation---------------- */

.slider {
    background: transparent;
    height: 100px;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-left: solid 2px rgb(89, 89, 89);
    border-right: solid 2px rgb(89, 89, 89);
    margin: 100px 0 0 0;
}

.slider::before,
.slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 130s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .slide-track .slide img {
    width: 120px;
    margin-right: 100px;
    filter: grayscale(100%);
    opacity: 0.4;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-200px * 7))
    }
}
/*------------------Devices cards--------------------*/
.homepage-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #FFF6EC;
    margin: 50px 10% 0 10%;
    position: relative;
    overflow: hidden;
    padding-top: 60px;
    background-image: url('/public/assets/img/17.svg');

}
.ondulate-bg{
    margin: 0 10% 0 10%;
    width: 80%;

}
.homepage-subtitle .device-title-custom h2 {
    font-family: 'gilroy-black',sans-serif ;
    font-size: 50px ;
    line-height : 1.15em;
    color: #101621;
    text-align: center;
}
.homepage-subtitle .device-title-custom {
    position: relative;
    width: 80%;
    text-align: center;
}

.device-title-custom .shape-header {
    width: 50%;
    position: absolute;
    right: 200px;
    top: 40px;

}
.homepage-subtitle h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: var(--weight-h2);
    font-size: var(--size-h2);
    color: var(--color-h2);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.devices-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    row-gap: 20px;
    column-gap: 20px;
    padding-bottom: 100px;
}

.device {
    width: 290px;
    height: 250px;
    background: #fff;
    padding-top: 50px;
    border-radius: 3px;
    transition: 0.5s;
    z-index: 2;
    text-align: center;
}

.device:hover{
    transform:scale(1.02);
    transform:translateY(-5px);
    box-shadow: 0px 5px 50px -17px rgba(0, 0, 0, 0.15);
}

.device img{
    width: 70px;
}

.device h2{
    padding-top: 20px;
    font-size: 20px;
    color: var(--color-h1);
    font-family: 'gilroy-semibold',sans-serif;
    text-decoration: underline var(--primary-color);
    text-decoration-thickness: 3px;
    text-align: center;
    width: 100%;
}

.homepage-subtitle .flock-bottom{
    position: absolute;
    left: 150px;
    bottom: 25px;
}
.homepage-subtitle .flock-top{
    position: absolute;
    right: 100px;
    top: 300px;
}
.devices-container .floating-triangle{
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
    animation: floating 5s infinite;
}
.devices-container .rotate-circle{
    position: absolute;
    right: 0;
    bottom:0;
    z-index: 1;
    animation: rotation 40s infinite;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/*-----CONTENT-BLOCK N 1---*/
.shape-absolut-troubleshooting{
    position: absolute;
    width: 60%;
    top: 100px;
    left: 50px;
    z-index: -1;
}
.right-block{
    position: relative;
}
.right-block .more-item1{
    position: absolute;
    width: 20px;
    top: 10%;
    left: 0;
    animation: rotation 30s infinite;
}
.right-block .backslash-item{
    position: absolute;
    width: 10px;
    top: 10%;
    right: 20%;
}
.right-block .more-item2{
    position: absolute;
    width: 20px;
    bottom: 0;
    left: 25%;
    animation: rotation 30s infinite;
}
.right-block .square-item1{
    position: absolute;
    opacity: 0.5;
    width: 20px;
    top: 50%;
    left: 0;
    animation: float-item 5s infinite;
}
.right-block .square-item2{
    position: absolute;
    width: 10px;
    top: 0%;
    left: 40%;
    animation: float-item 5s infinite;
}
.right-block .square-item3 {
    position: absolute;
    opacity: 0.5;
    width: 10px;
    bottom: 0%;
    right: 30%;
    animation: float-item 5s infinite;
}
.right-block .circle-item{
    position: absolute;
    width: 150px;
    bottom: 0;
    left: 0;
    animation: rotation 30s infinite;
    z-index: -1;
}

@keyframes float-item {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

/*-----CONTENT-BLOCK N°2---*/
.content-block2 .line-shape {
    width: 60%;
    margin-top: -50px;
    margin-left: 50px;
    z-index: -1;
}
.content-block2 .images{
    position: relative;
}

.content-block2 .images .child-triangle{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    animation: floating 5s infinite;
}
.content-block2 .images .child-square1{
    width: 10px;
    position: absolute;
    left: 0;
    top: 0;
    animation: float-item 4s infinite;
    opacity: 0.5;
}
.content-block2 .images .child-square2{
    width: 10px;
    position: absolute;
    left: 5%;
    top: 85%;
    animation: float-item 5s infinite;
}
.content-block2 .images .child-square3{
    width: 15px;
    position: absolute;
    left: 100%;
    top: 40%;
    animation: float-item 4s infinite;
    opacity: 0.5;
}
.content-block2 .images .child-square4{
    width: 10px;
    position: absolute;
    right: 0;
    top: 10%;
    animation: float-item 6s infinite;

}
.content-block2 .images .child-square5 {
    width: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    animation: float-item 4s infinite;
    opacity: 0.5;
}


.content-block3 .images {
    position: relative;
}


.content-block3 .images .child-triangle{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    animation: floating 5s infinite;
    opacity: 0.5;
}
.content-block3 .images .child-square1 {
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    animation: float-item 3s infinite;
    opacity: 0.5;
}

.content-block3 .images .child-square2 {
    width: 10px;
    position: absolute;
    left: 5%;
    bottom: 15%;
    animation: float-item 4s infinite;
}

.content-block3 .images .child-square3 {
    width: 15px;
    position: absolute;
    right: 0;
    top: 40%;
    animation: float-item 4s infinite;
    opacity: 0.5;
}

.content-block3 .images .child-square4 {
    width: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    animation: float-item 4s infinite;

}

.content-block3 .images .child-square5 {
    width: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    animation: float-item 4s infinite;
    opacity: 0.5;
}

/*-------- FEEDBACK CUSTOMERS-----------*/
.feedback{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url('../../../public/assets/img/39.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.feedback .container1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 30%;
    text-align: center;
    background-image: url(/public/assets/img/bg-grey.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.feedback .container1 h2{
    font-family: 'gilroy-black', sans-serif;
    font-size: 70px;
    color: #101621;
}

.feedback .container1 .child-face1{
    width: 50px;
    position: absolute;
    left: 10%;
    bottom: -25%;
    animation: floating 3s infinite;
}
.feedback .container1 .child-face2{
    width: 50px;
    position: absolute;
    left: 50%;
    bottom: -20%;
    animation: floating 4s infinite;
}
.feedback .container1 .child-face3{
    width: 50px;
    position: absolute;
    left: 5%;
    top: 50%;
    animation: floating 5s infinite;
}
.feedback .container1 .child-face4{
    width: 50px;
    position: absolute;
    left: 15%;
    top: -20%;
    animation: floating 6s infinite;
}
.feedback .container1 .child-triangle{
    width: 100px;
    position: absolute;
    top: -15%;
    left: 30%;
    animation: floating 4s infinite;

}

.micro-slider {
    height: 480px;
    position: relative;
    width: 50%;
}

.slider-item {
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .06), 0 1px 2px rgba(0, 0, 0, .12);
    height: 320px;
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    cursor: pointer;
    padding: 25px;
}
.micro-slider .slider-item p {
    font-family: var(--font-text);
    font-size: var(--size-text);
    color: var(--color-text);
    font-weight: 600;
    margin-top: 25px;
}
.micro-slider .slider-item .quote{
    width: 90px;
    margin-bottom: 20px;
}