.home-header{
    margin-top: 50px;
    margin-bottom: 100px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.title-and-form{
    width: 40%;
}

.title-and-form h1{
    font-family: var(--font-h1) ;
    font-size: var(--size-h1);
    color: var(--color-h1);
    font-weight: var(--weight-h1) ;
}

.home-header .floating-illustration{
    position: relative;

}
.home-header .floating-illustration .illustration{
    width: 700px;
}
.floating-illustration .float-message1 {

    width: 250px;
    position: absolute;
    bottom: 10%;
    left: 0;
    animation: floating 6s infinite;
}

.floating-illustration .float-message2 {

    width: 250px;
    position: absolute;
    top: 20%;
    left: 0;
    animation: floating 5s infinite;
}

.floating-illustration .float-message3 {

    width: 250px;
    position: absolute;
    bottom: 20%;
    left: 50%;
    animation: floating 4s infinite;
}
@keyframes floating {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-20%);
    }

    100% {
        transform: translateY(0%);
    }
}
/* ---------------Brands animation---------------- */

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: 100px 0 100px 0;
    overflow: hidden;
    position: relative;
    /* width: 100%; */
}

.slider::before,
.slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
}

.slider .slide-track .slide img {
    height: 100px;
    width: 200px;
    margin-right: 60px;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-200px * 7))
    }
}
/*------------------Devices cards--------------------*/
.homepage-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #FFF6EC;
    margin: 0 20px 0 20px;
    position: relative;
}

.homepage-subtitle h2 {
    font-family: var(--font-h1);
    font-weight: var(--weight-h2);
    font-size: 58px;
    color: var(--color-h2);
    text-align: center;
    width: 70%;
    padding-top: 50px;
}

.homepage-subtitle h3 {
    font-family: var(--font-h2);
    font-weight: var(--weight-h2);
    font-size: var(--size-h2);
    color: var(--color-h2);
    margin-top: 20px;
    margin-bottom: 20px;
}

.devices-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 100px;
    position: relative;
}

.device {
    flex-basis: 300px;
    margin: 10px;
    height: 250px;
    background: #fff;
    padding-top: 30px;
    /* padding-left: 30px; */
    border-radius: 3px;
    transition: 0.5s;
    z-index: 2;
    box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.device:hover{
    transform:scale(1.02);
    transform:translateY(-5px);
    box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.15);
}

.device img{
    width: 70px;
}

.device h2{
    padding-top: 20px;
    font-size: 20px;
    color: var(--color-h1);
    font-family: var(--font-h2);
    font-weight: 700;
    text-decoration: underline var(--primary-color);
    text-decoration-thickness: 3px;
    text-align: center;
    width: 100%;
}

.homepage-subtitle .flock-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
}
.homepage-subtitle .flock-top{
    position: absolute;
    right: 0;
    top:20%;
}
.devices-container .floating-triangle{
    position: absolute;
    left: 0;
    top:-7%;
    z-index: 1;
    animation: floating 5s infinite;
}
.devices-container .rotate-circle{
    position: absolute;
    right: 2%;
    bottom:0;
    z-index: 1;
    animation: rotation 40s infinite;
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/*-----CONTENT-BLOCK N°1---*/

.content-block1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.content-block1 .title {
    width: 40%;
}

.content-block1 .title img {
    width: 50px;
    margin-bottom: 20px;
}

.content-block1 .title h2 {
    font-family: var(--font-h1);
    font-size: 58px;
    color: var(--color-h1);
    font-weight: var(--weight-h1);
}
.content-block1 .title p{
    margin-top: 20px;
    font-family: var(--font-text);
    font-size: var(--size-text);
    font-weight: var(--weight-text);
    color: var(--color-text);
    line-height: var(--height-line-text);
}

.right-block{
    position: relative;
}
.content-block1 .right-block .illustration{
    width: 700px;
}
.right-block .more-item1{
    position: absolute;
    width: 20px;
    top: 10%;
    left: 0;
    animation: rotation 30s infinite;
}
.right-block .backslash-item{
    position: absolute;
    width: 10px;
    top: 10%;
    right: 20%;
}
.right-block .more-item2{
    position: absolute;
    width: 20px;
    bottom: 0;
    left: 25%;
    animation: rotation 30s infinite;
}
.right-block .square-item1{
    position: absolute;
    opacity: 0.5;
    width: 20px;
    top: 50%;
    left: 0;
    animation: float-item 5s infinite;
}
.right-block .square-item2{
    position: absolute;
    width: 10px;
    top: 0%;
    left: 40%;
    animation: float-item 5s infinite;
}
.right-block .square-item3 {
    position: absolute;
    opacity: 0.5;
    width: 10px;
    bottom: 0%;
    right: 30%;
    animation: float-item 5s infinite;
}
.right-block .circle-item{
    position: absolute;
    width: 150px;
    bottom: 0;
    left: 0;
    animation: rotation 30s infinite;
    z-index: -1;
}

@keyframes float-item {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0%);
    }
}

/*-----CONTENT-BLOCK N°2---*/

.content-block2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url(/public/assets/img/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-block2 .title-text{
    width: 40%;
}

.content-block2 .title-text .icon {
    width: 50px;
    padding-top: 20px;
}

.content-block2 .title-text h2 {
    font-family: var(--font-h1);
    color: var(--color-h2);
    font-weight: var(--weight-h1);
    font-size: 50px;
}

.content-block2 .title-text p{
    margin-top: 20px;
    font-family: var(--font-text);
    font-size: var(--size-text);
    font-weight: var(--weight-text);
    color: var(--color-text);
    line-height: var(--height-line-text);
}


.content-block2 .images{
    position: relative;
}
.content-block2 .images .illustration{
    width: 700px;
    border-radius: 100%;
    background-color: #D4E5F7;
}
.content-block2 .images .child-triangle{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    animation: floating 5s infinite;
}
.content-block2 .images .child-square1{
    width: 10px;
    position: absolute;
    left: 0;
    top: 0;
    animation: float-item 4s infinite;
    opacity: 0.5;
}
.content-block2 .images .child-square2{
    width: 10px;
    position: absolute;
    left: 5%;
    top: 85%;
    animation: float-item 5s infinite;
}
.content-block2 .images .child-square3{
    width: 15px;
    position: absolute;
    left: 100%;
    top: 40%;
    animation: float-item 4s infinite;
    opacity: 0.5;
}
.content-block2 .images .child-square4{
    width: 10px;
    position: absolute;
    right: 0;
    top: 10%;
    animation: float-item 6s infinite;

}
.content-block2 .images .child-square5 {
    width: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    animation: float-item 4s infinite;
    opacity: 0.5;
}
/*----CUSTOM LINE-------*/
.custom-line{
    text-align: center;
    margin-top: 100px;
}
/*----CONTENT BLOCK 3------*/
.content-block3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.content-block3 .title-text {
    width: 40%;
}

.content-block3 .title-text .icon {
    width: 50px;
}

.content-block3 .title-text h2 {
    width: 70%;
    font-family: var(--font-h1);
    color: var(--color-h2);
    font-size: 50px;
}

.content-block3 .title-text p {
    font-family: var(--font-text);
    font-size: var(--size-text);
    font-weight: var(--weight-text);
    color: var(--color-text);
    line-height: var(--height-line-text);
}

.content-block3 .images {
    position: relative;
}

.content-block3 .images .illustration {
    width: 700px;

}

.content-block3 .images .child-triangle{
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    animation: floating 5s infinite;
    opacity: 0.5;
}
.content-block3 .images .child-square1 {
    width: 10px;
    position: absolute;
    top: 0;
    left: 0;
    animation: float-item 3s infinite;
    opacity: 0.5;
}

.content-block3 .images .child-square2 {
    width: 10px;
    position: absolute;
    left: 5%;
    bottom: 15%;
    animation: float-item 4s infinite;
}

.content-block3 .images .child-square3 {
    width: 15px;
    position: absolute;
    right: 0;
    top: 40%;
    animation: float-item 4s infinite;
    opacity: 0.5;
}

.content-block3 .images .child-square4 {
    width: 10px;
    position: absolute;
    top: 50%;
    left: 0;
    animation: float-item 4s infinite;

}

.content-block3 .images .child-square5 {
    width: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    animation: float-item 4s infinite;
    opacity: 0.5;
}
/*-------- TRANSPARANCY FEEDBACK TITLE---------*/
.title-custom{
    text-align: end;

    font-family: var(--font-h1);
    font-size: 100px;
    letter-spacing: 1rem;
    color: rgba(206, 206, 206, 0.295);
}
/*-------- FEEDBACK CUSTOMERS-----------*/
.feedback{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.feedback .container1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    text-align: center;
    background-image: url(/public/assets/img/bg-grey.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.feedback .container1 h2{
    font-family: var(--font-h1);
    font-size: 100px;
    color: var(--color-h1);
}

.feedback .container1 .child-face1{
    width: 50px;
    position: absolute;
    left: 10%;
    bottom: -25%;
    animation: floating 3s infinite;
}
.feedback .container1 .child-face2{
    width: 50px;
    position: absolute;
    left: 50%;
    bottom: -20%;
    animation: floating 4s infinite;
}
.feedback .container1 .child-face3{
    width: 50px;
    position: absolute;
    left: 5%;
    top: 50%;
    animation: floating 5s infinite;
}
.feedback .container1 .child-face4{
    width: 50px;
    position: absolute;
    left: 15%;
    top: -20%;
    animation: floating 6s infinite;
}
.feedback .container1 .child-triangle{
    width: 100px;
    position: absolute;
    top: -15%;
    left: 30%;
    animation: floating 4s infinite;

}

.micro-slider {
    height: 480px;
    position: relative;
    width: 50%;
}

.slider-item {
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .06), 0 1px 2px rgba(0, 0, 0, .12);
    height: 320px;
    position: absolute;
    left: 0;
    top: 0;
    width: 320px;
    cursor: pointer;
    padding: 25px;
}
.micro-slider .slider-item p {
    font-family: var(--font-text);
    font-size: var(--size-text);
    color: var(--color-text);
    font-weight: 600;
    margin-top: 25px;
}
.micro-slider .slider-item .quote{
    width: 90px;
    margin-bottom: 20px;
}


.indicators {
    bottom: 0px;
    left: 50%;
    list-style-type: none;
    margin: 0 0 0 -77px;
    padding: 0;
    position: absolute;
}

.indicators li {
    color: #fff;
    float: left;
    height: 16px;
    margin-right: 8px;
    text-align: center;
    width: 16px;
}

.indicators a {
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #E6E9EC;
    color: #FFF;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.indicators .active a {
    background: #E6E9EC;
}

/*-------------reveal observer------------------*/
[class*="reveal-"] {
    opacity: 0;
    transform: translateY(100px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.74, 0, 0, 1);
}

.reveal-1 {
    transition-delay: .2s;
}
.reveal-2 {
    transition-delay: .3s;
}
.reveal-3 {
    transition-delay: .4s;
}
.reveal-4 {
    transition-delay: .5s;
}
.reveal-5 {
    transition-delay: .6s;
}
.reveal-6 {
    transition-delay: .7s;
}
.reveal-7 {
    transition-delay: .8s;
}
.reveal-8 {
    transition-delay: .9s;
}
