.manuals-header{
    height: auto;
    position: relative;
}
.manuals-header .content-block{
    position: relative;
    margin: 225px auto 0;
}
.manuals-header .content-block h1{
    font-family: var(--home-font-h1);
    font-size: 78px;
    line-height: var(--home-line-h1);
    font-weight: var(--home-weight-h1);
    color: var(--home-color-h1);
    text-align: center;
}
.manuals-header .content-block .line-custom{
    position: absolute;
    width: 40%;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
}

.searchForm-manuals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.manuals-header .searchForm-manuals h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.39em;
    text-align: center;
    padding: 25px 0 45px 0;
}
.square-left{position: absolute; left: 5%;
    top: 100%; width: 45px; animation: rotation 25s infinite; }
.bs-left{position: absolute;left: 20%;
    top: 80%; animation: floating 5s infinite; width: 100px;}
.middle-left{position: absolute;left: 5%;
    top: 54%;}
.circle-left{position: absolute;left: 16%;
    top: 57%;animation: floating 2s infinite;}
.alternate-left{position: absolute;left: 7%;
    top: 0%; animation: rotation 40s infinite; width: 100px;}
    
.square-right{position: absolute; right: 10%;
    top: 0%; width: 35px; animation: rotation 25s infinite; width: 100px; z-index: -1;}
.bs-right{position: absolute;right: 5%;
    top: 35%;}
.sl-right{position: absolute;right: 20%;
    top: 54%;}
.circle-right{position: absolute;right: 16%;
    top: 80%; animation: floating 3s infinite; width: 50px;}
.alternate-right{position: absolute;right:10%;
    top: 65%; width: 15px; opacity: 0.5;}

.block-image-manuals {
    display: block;
    width: 70%;
    margin: 100px auto 0;
}
/*--------------MOST DOWNLOADED MANUALS------------------*/
.top-15-container{
    position: relative;
}
.top-15-container h2{
    font-family: 'gilroy-black', sans-serif;
    font-size: 50px;
    color: #2A2A2A;
    text-align: center;

}
.top-15-container .line-custom{
    width: 40%;
    margin-top: -20px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.top-15-container .most-manuals-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
.top-15-container .most-manuals-container .sub-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
}
.top-15-container .most-manuals-container .download{
    width: 500px;
    height: 100px;
    background: #fff;
    border-left-style: solid;
    border-left-width: 5px;
    border-radius: 10px;
    box-shadow: 0 20px 60px rgb(10 30 81 / 4%);
    margin-top: 20px;
    padding: 37px 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    cursor: pointer;
}

.download .icons-manualsTop img{
    width: 40px;
}
.download .text-block h2{
    font-family: 'Gilroy-black', sans-serif;
    font-size: 25px;
}
.download .text-block h3{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: var(--color-text);
    font-weight: var(--weight-text);
}

/*--------------TEXT BLOCK ---------------*/

.manuals-block{
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.manuals-block .text-block{
    width: 40%;
    margin-left: 10px;
}
.manuals-block .text-block h2{
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'gilroy-black', sans-serif;
    font-size: 42px;
    padding: 20px 0px 30px 0px;
    line-height: 1.28em;
    color: #101621;
}
.manuals-block .text-block p{
    font-family: var(--font-text);
    font-size: var(--size-text);
    color: var(--color-text);
    line-height: var(--line-text);
    font-weight: var(--weight-text);
}
.separate-line-custom-manuals{
    width: 70%;
    margin: 0 15% 0;
    margin-top: 100px;
}
/*----------HEADBAND ANIMATION-----------------*/

.headband {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100px;
    margin: 120px 0 120px 0;
    overflow: hidden;
    position: relative;
}

.headband::before,
.headband::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.headband::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.headband::before {
    left: 0;
    top: 0;
}

.headband .band-track {
    animation: scroll 40s linear infinite;
    display: flex;
}

.headband .band-track .slide img {
    height: 100px;
    width: 200px;
    margin-right: 60px;
}

/*---------------------*/
.download-category{
    position: relative
}
.download-category h2{
    font-family: 'gilroy-black', sans-serif;
    font-size: 50px;
    color: #2A2A2A;
    text-align: center;
}

.download-category .line-custom{
    width: 45%;
    margin-top: -20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.rotating-slider{
    border: solid 1px green;
    width: 100%;
    height: 400px;
    margin: 0 auto 0;
    margin-top: 50px;
}

.custom-border-left1{border-color: rgb(255, 92, 92);}
.custom-border-left2{border-color: rgb(255, 206, 34);}
.custom-border-left3{border-color: rgb(143, 107, 246);}
.custom-border-left4{border-color: rgb(99, 234, 169);}
.custom-border-left5{border-color: rgb(91, 226, 255);}
.custom-border-left6{border-color: rgb(255, 86, 238);}
.custom-border-left7{border-color: rgb(255, 92, 92);}
.custom-border-left8{border-color: rgb(255, 206, 34);}
.custom-border-left9{border-color: rgb(143, 107, 246);}
.custom-border-left10{border-color: rgb(99, 234, 169);}


