.manuals-header .content-block .line-custom{
    margin-left: 50%;
    transform: translateX(-50%); 
    width: 50%;
    z-index: -1;
    margin-top: -25px;
}

.searchForm-manuals{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.manuals-header .searchForm-manuals h2 {
    text-align: center;
}
.square-left{position: absolute; left: 5%;
    top: 100%; width: 45px; animation: rotation 25s infinite; z-index: -1; }
.bs-left{position: absolute;left: 20%;
    top: 60%; left: 0; animation: floating 5s infinite; width: 60px;z-index: -1;}
.middle-left{position: absolute;left: 5%;
    top: 54%;z-index: -1;}
.circle-left{position: absolute;left: 16%;
    top: 57%;animation: floating 2s infinite;z-index: -1;}
.alternate-left{position: absolute;left: 7%;
    top: 0%; animation: rotation 40s infinite; width: 100px;z-index: -1;}
    
.square-right{position: absolute; right: 10%;
    top: 0%; width: 35px; animation: rotation 25s infinite; width: 100px; z-index: -1;}
.bs-right{position: absolute;right: 5%;
    top: 35%;z-index: -1;}
.sl-right{position: absolute;right: 20%;
    top: 54%;z-index: -1;}
.circle-right{position: absolute;right: 16%;
    top: 50%; right: 0; animation: floating 3s infinite; width: 50px;z-index: -1;}
.alternate-right{position: absolute;right:10%;
    top: 65%; width: 15px; opacity: 0.5;z-index: -1;}

.block-image-manuals {
    display: block;
    width: 30%;
    margin: 100px auto 100px;
    z-index: -1;
    position: relative;
}
/*--------------MOST DOWNLOADED MANUALS------------------*/
.top-15-container{
    position: relative;
}
.top-15-container h2{
    text-align: center;

}
.top-15-container .line-custom{
    width: 40%;
    margin-top: -20px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.top-15-container .most-manuals-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
.top-15-container .most-manuals-container .sub-container{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.top-15-container .most-manuals-container .download{
    width: 500px;
    background: #fff;
    border-left-style: solid;
    border-left-width: 5px;
    border-radius: 10px;
    box-shadow: 0 20px 60px rgb(10 30 81 / 4%);
    margin-top: 20px;
    padding: 37px 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
    cursor: pointer;
}

.download .icons-manualsTop .icon-card{
    width: 60px;
}
.download .text-block p{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.download .text-block h3{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: var(--color-text);
    font-weight: var(--weight-text);
}

/*--------------TEXT BLOCK ---------------*/
.separate-line-custom-manuals {
    width: 70%;
    margin: 0 15% 100px;

}

/*---------------------*/
.download-category{
    position: relative;
}
.download-category h2{
    text-align: center;
}

.download-category .line-custom{
    width: 45%;
    margin-top: -20px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.rotating-slider{
    border: solid 1px green;
    width: 100%;
    height: 400px;
    margin: 0 auto 0;
    margin-top: 50px;
}

.custom-border-left1{border-color: rgb(255, 92, 92);}
.custom-border-left2{border-color: rgb(255, 206, 34);}
.custom-border-left3{border-color: rgb(143, 107, 246);}
.custom-border-left4{border-color: rgb(99, 234, 169);}
.custom-border-left5{border-color: rgb(91, 226, 255);}
.custom-border-left6{border-color: rgb(255, 86, 238);}
.custom-border-left7{border-color: rgb(255, 92, 92);}
.custom-border-left8{border-color: rgb(255, 206, 34);}
.custom-border-left9{border-color: rgb(143, 107, 246);}
.custom-border-left10{border-color: rgb(99, 234, 169);}


