.pricing-header {
    height: 100vh;
    position: relative;
    background: #ecf6ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pricing-header .content-block {
    position: relative;
    width: 60%;
    padding-top: 225px;
}

.pricing-header .content-block h1{
    font-family: var(--home-font-h1);
    font-size: 78px;
    line-height: var(--home-line-h1);
    font-weight: var(--home-weight-h1);
    color: var(--home-color-h1);
    text-align: center;
}

.pricing-header .line-shape {
    position: absolute;
    width: 70%;
    top: 280px;
    left: 50%;
    transform: translate(-50%);
}
.pricing-header .content-block h2 {
    font-family: var(--home-font-h1);
    font-size: 42px;
    line-height: var(--home-line-h1);
    font-weight: var(--home-weight-h1);
    color: var(--home-color-h1);
    text-align: center;
}

/* .pricing-header .switch-pricing{
    border: solid 1px red;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.switch-pricing .custom-btn{
    padding: 15px 50px 15px 50px;
    cursor: pointer;
    color: #fd6a5e;
    font-family: var(--font-btn);
    font-size: var(--size-text-btn);
    border: 2px solid #fd6a5e;
    border-radius: 2px;
    background: transparent;
}
.active-pricing-btns{
    background-color: #fd6a5e;
    color: #fff;
}


.pricing-header .square-item1 {
    position: absolute;
    width: 15px;
    top: 45%;
    left: 25%;
    animation: float-item 3s infinite;
}

.pricing-header .square-item2 {
    position: absolute;
    width: 15px;
    bottom: 0;
    right: 10%;
    animation: float-item 5s infinite;
    opacity: 0.5;
}

.pricing-header .square-item3 {
    position: absolute;
    width: 10px;
    bottom: 15%;
    left: 10%;
    opacity: 0.5;
    animation: float-item 5s infinite;
}

.pricing-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-top: -260px;
}

.pricing-table .triangle-item {
    position: absolute;
    width: 150px;
    top: -5%;
    left: 18%;
    animation: floating 5s infinite;
    z-index: 1;
}
.pricing-table .circle-item {
    position: absolute;
    width: 160px;
    bottom: -12%;
    right: 17%;
    animation: rotation 35s infinite;
    z-index: -1;
}
/*----------Pricing container1----------*/
.sign-up-pricing{
    background: rgba(255, 255, 255, 0.07);
    padding:12px 30px 12px 30px;
    cursor: var(--pointer-btn);
    transition:  0.5s;
    color: var(--color-btn);
    font-family: var(--font-btn);
    font-size: 18px;
    font-weight: var(--weight-btn);
    border-radius: var(--radius-btn);
    border: 2px solid #fd6a5e;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    width: 50%;
}
.sign-up-pricing:hover{
    color: #fff;
    background: #FD6A5E;
}

.pricing-container1{
    border: solid 1px rgba(219, 219, 219, 0.356);
    background-color: #fff;
    /* padding: 20px 20px 200px 20px; */
    width: 280px;
    z-index: 1;
}
.pricing-container1 h2 {
    font-family: 'Gilroy-black', sans-serif;
    font-size: 18px;
    color: #202020;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pricing-plan{
    display: flex;
    justify-content: center;
}
.pricing-plan h3{
    color: #000;
    font-family: gilroy-semibold;
    font-size: 72px;
    margin-bottom: 10px;

}
.pricing-plan span{
    font-family: gilroy-semibold;
    font-size: 25px;
}

/* .pricing-container1 .includes{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #202020;
    text-align: center;
    margin: 70px 0 70px 0;
} */
.pricing-container1 .manuals{
    font-family: 'gilroy-semibold', sans-serif;
    font-size: 25px;
    color: #101621;
    text-align: center;
    margin-top: 170px;
}
/*----------Pricing container2----------*/
.pricing-container2 {
    border: solid 1px rgba(219, 219, 219, 0.356);
    background-color: #fff;
    /* padding: 20px 20px 200px 20px; */
    width: 280px;

}

.pricing-container2 h2 {
    font-family: 'Gilroy-black', sans-serif;
    font-size: 18px;
    color: #202020;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.separate-custom{
    width: 100%;
    height: 1px;
    margin: 15px 0 0px 0;
    background: rgb(211, 211, 211);
}
.pricing-container2 .includes {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #202020;
    text-align: center;
    margin: 70px 0 70px 0;
}
.pricing-container2 .manuals {
    font-family: 'gilroy-semibold', sans-serif;
    font-size: 25px;
    color: #101621;
    text-align: center;
}
/*----------Pricing container3----------*/
.pricing-container3 {
    border: solid 1px rgba(219, 219, 219, 0.356);
    background-color: #fff;
    /* padding: 20px 20px 200px 20px; */
    width: 280px;

}

.pricing-container3 h2 {
    font-family: 'Gilroy-black', sans-serif;
    font-size: 18px;
    color: #202020;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pricing-container3 .includes {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #202020;
    text-align: center;
    margin: 70px 0 70px 0;
}
.pricing-container3 .manuals {
    font-family: 'gilroy-semibold', sans-serif;
    font-size: 25px;
    color: #101621;
    text-align: center;
}


/*--------- section text-block 1 -----------------*/
.pricing-containers .pricing-section1{
    text-align: center;
    padding: 100px 0 0 0;
    position: relative;
    /* margin-top: 50px; */
    background-image: url(/public/assets/img/bg4.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.pricing-block{
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 40%;
    margin: 0 auto 0;
}
.pricing-containers .pricing-section1 h2{
    font-family: 'Gilroy-black', sans-serif;
    color: #202020;
    font-size: 42px;
    line-height: 1.35em;
    margin-bottom: 20px;
}
.pricing-containers .pricing-section1 p{
    font-family: var(--font-text);
    font-size: var(--size-text);
    color: var(--color-text);
    line-height: var(--line-text);
    font-weight: var(--weight-text);
    /* width: 60%; */
}
.pricing-containers .pricing-section1 img {
    width: 600px;
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 20px;
}
.pricing-containers .pricing-section1 .more-item1{
    position: absolute;
    width: 10px;
    top: 20%;
    right: 10%;
    animation: rotation 10s infinite;
}

.pricing-containers .pricing-section1 .backslash-item {
    position: absolute;
    width: 10px;
    top: 30%;
    right: 10%;
}

.pricing-containers .pricing-section1 .more-item2 {
    position: absolute;
    width: 20px;
    bottom: 20%;
    left: 20%;
    animation: rotation 30s infinite;
}

.pricing-containers .pricing-section1 .square-item1 {
    position: absolute;
    opacity: 0.5;
    width: 20px;
    top: 90%;
    left: 17%;
    animation: float-item 5s infinite;
}

.pricing-containers .pricing-section1 .square-item2{
    position: absolute;
    width: 10px;
    top: 10%;
    left: 10%;
    animation: float-item 5s infinite;
}

.pricing-containers .pricing-section1 .square-item3 {
    position: absolute;
    opacity: 0.5;
    width: 10px;
    top: 5%;
    right: 20%;
    animation: float-item 5s infinite;
}

.pricing-containers .pricing-section1 .triangle-item {
    width: 150px;
    position: absolute;
    top: 30%;
    left: 7%;
    animation: floating 5s infinite;
}
.pricing-containers .pricing-section1 .circle-item {
    width: 150px;
    position: absolute;
    top: 70%;
    right: 10%;
    animation: rotation 35s infinite;
}


/*--------- section text-block 2 -----------------*/
.pricing-section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* padding: 100px 16px 50px 16px; */
    position: relative;
}

.pricing-section2 .pricing-block {
    width: 40%;
    margin: 0;
    text-align: left;
}

.pricing-section2 .pricing-block h2 {
    font-family: 'Gilroy-black', sans-serif;
    color: #202020;
    font-size: 42px;
    line-height: 1.35em;
    margin-bottom: 20px;
}

.pricing-section2 .pricing-block p {
    font-family: var(--font-text);
    font-size: var(--size-text);
    color: var(--color-text);
    line-height: var(--line-text);
    font-weight: var(--weight-text);
}

.pricing-section2 .image-block {
    width: 400px;
}

.pricing-section2 .square-item1 {
    position: absolute;
    width: 15px;
    top: 10%;
    left: 25%;
    animation: float-item 5s infinite;
}

.pricing-section2 .square-item2 {
    position: absolute;
    width: 10px;
    top: 60%;
    left: 3%;
    opacity: 0.5;
    animation: float-item 5s infinite;
}

.pricing-section2 .square-item3 {
    position: absolute;
    width: 15px;
    top: 50%;
    right: 5%;
    animation: float-item 5s infinite;
}

.pricing-section2 .square-item4 {
    position: absolute;
    width: 13px;
    bottom: 5%;
    left: 60%;
    animation: float-item 5s infinite;
}

.pricing-section2 .circle-item {
    position: absolute;
    width: 100px;
    top: 0%;
    right: 30%;
    animation: rotation 35s infinite;
    z-index: -1;
}

/*--------- section text-block 3 -----------------*/
.pricing-section3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* padding: 100px 16px 50px 16px; */
    position: relative;
    /* background:#fdf3e7 ; */
}

.pricing-section3 .pricing-block {
    width: 40%;
    margin: 0;
}

.pricing-section3 .pricing-block h2 {
    font-family: 'Gilroy-black', sans-serif;
    color: #202020;
    font-size: 42px;
    line-height: 1.35em;
    margin-bottom: 20px;
}

.pricing-section3 .pricing-block p {
    font-family: var(--font-text);
    font-size: var(--size-text);
    color: var(--color-text);
    line-height: var(--line-text);
    font-weight: var(--weight-text);
}

.pricing-section3 .image-block {
    width: 600px;
    /* order: 2; */
}

.pricing-section3 .square-item1 {
    position: absolute;
    width: 15px;
    top: 10%;
    left: 25%;
    animation: float-item 5s infinite;
}

.pricing-section3 .square-item2 {
    position: absolute;
    width: 10px;
    top: 60%;
    left: 3%;
    opacity: 0.5;
    animation: float-item 5s infinite;
}

.pricing-section3 .square-item3 {
    position: absolute;
    width: 15px;
    top: 50%;
    right: 5%;
    animation: float-item 5s infinite;
}

.pricing-section3 .square-item4 {
    position: absolute;
    width: 13px;
    bottom: 5%;
    left: 60%;
    animation: float-item 5s infinite;
}

.pricing-section3 .circle-item {
    position: absolute;
    width: 100px;
    top: 12%;
    left: 3%;
    animation: floating 35s infinite;
}

/*--------- section text-block 5 -----------------*/
.pricing-section5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* padding: 100px 16px 50px 16px; */
    position: relative;
    /* background: #fdf3e7; */
}

.pricing-section5 .pricing-block {
    width: 40%;
    margin: 0;
}

.pricing-section5 .pricing-block h2 {
    font-family: 'Gilroy-black', sans-serif;
    color: #202020;
    font-size: 42px;
    line-height: 1.35em;
    margin-bottom: 20px;
}

.pricing-section5 .pricing-block p {
    font-family: var(--font-text);
    font-size: var(--size-text);
    color: var(--color-text);
    line-height: var(--line-text);
    font-weight: var(--weight-text);
}

.pricing-section5 .image-block {
    width: 400px;
}

.pricing-section5 .square-item1 {
    position: absolute;
    width: 15px;
    top: 10%;
    left: 25%;
    animation: float-item 5s infinite;
}

.pricing-section5 .square-item2 {
    position: absolute;
    width: 10px;
    top: 60%;
    left: 3%;
    opacity: 0.5;
    animation: float-item 5s infinite;
}

.pricing-section5 .square-item3 {
    position: absolute;
    width: 15px;
    top: 50%;
    right: 5%;
    animation: float-item 5s infinite;
}

.pricing-section5 .square-item4 {
    position: absolute;
    width: 13px;
    bottom: 5%;
    left: 40%;
    animation: float-item 5s infinite;
}

.pricing-section5 .circle-item {
    position: absolute;
    width: 100px;
    top: 12%;
    left: 3%;
    animation: floating 35s infinite;
}

/*--------- section text-block 6 -----------------*/
.pricing-section6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* padding: 100px 16px 50px 16px; */
    position: relative;
}

.pricing-section6 .pricing-block {
    width: 40%;
    margin: 0;
}

.pricing-section6 .pricing-block h2 {
    font-family: 'Gilroy-black', sans-serif;
    color: #202020;
    font-size: 42px;
    line-height: 1.35em;
    margin-bottom: 20px;
}

.pricing-section6 .pricing-block p {
    font-family: var(--font-text);
    font-size: var(--size-text);
    color: var(--color-text);
    line-height: var(--line-text);
    font-weight: var(--weight-text);
}

.pricing-section6 .image-block {
    width: 500px;
}

.pricing-section6 .square-item1 {
    position: absolute;
    width: 15px;
    top: 10%;
    left: 25%;
    animation: float-item 5s infinite;
}

.pricing-section6 .square-item2 {
    position: absolute;
    width: 10px;
    top: 60%;
    left: 3%;
    opacity: 0.5;
    animation: float-item 5s infinite;
}

.pricing-section6 .square-item3 {
    position: absolute;
    width: 15px;
    top: 50%;
    right: 5%;
    animation: float-item 5s infinite;
}

.pricing-section6 .square-item4 {
    position: absolute;
    width: 13px;
    bottom: -10%;
    left: 60%;
    animation: float-item 5s infinite;
}

.pricing-section6 .circle-item {
    position: absolute;
    width: 120px;
    top: 8%;
    left: 36%;
    animation: rotation 35s infinite;
    z-index: -1;
}

/*--------- section text-block 7 -----------------*/
.pricing-section7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* padding: 100px 16px 50px 16px; */
    position: relative;
    background: #fdf3e7;
}

.pricing-section7 .pricing-block {
    width: 40%;
    margin: 0;
}

.pricing-section7 .pricing-block h2 {
    font-family: 'Gilroy-black', sans-serif;
    color: #202020;
    font-size: 42px;
    line-height: 1.35em;
    margin-bottom: 20px;
}

.pricing-section7 .pricing-block p {
    font-family: var(--font-text);
    font-size: var(--size-text);
    color: var(--color-text);
    line-height: var(--line-text);
    font-weight: var(--weight-text);
}

.pricing-section7 .image-block {
    width: 450px;
}

.pricing-section7 .square-item1 {
    position: absolute;
    width: 15px;
    top: 10%;
    left: 25%;
    animation: float-item 5s infinite;
}

.pricing-section7 .square-item2 {
    position: absolute;
    width: 10px;
    top: 60%;
    left: 3%;
    opacity: 0.5;
    animation: float-item 5s infinite;
}

.pricing-section7 .square-item3 {
    position: absolute;
    width: 15px;
    top: 50%;
    right: 5%;
    animation: float-item 5s infinite;
}

.pricing-section7 .square-item4 {
    position: absolute;
    width: 13px;
    bottom: 5%;
    left: 60%;
    animation: float-item 5s infinite;
}

.pricing-section7 .circle-item {
    position: absolute;
    width: 100px;
    top: 12%;
    left: 3%;
    animation: floating 35s infinite;
}