.moreInfo-container{
    padding: 100px 200px 100px 200px;
    position: relative;
}

.moreInfo-container .title-text h2{
    font-family: 'Gilroy-black', sans-serif;
    font-size: 28px;
    text-align: center;
    padding-top: 25px;
}
.moreInfo-container .title-text p{
    font-family: var(--font-text);
    font-size: var(--size-text);
    color: var(--color-text);
    line-height: var(--line-text);
    font-weight: var(--weight-text);
    text-align: justify;
    padding: 16px;
}
