/* Import  style-components */
@import './style_components/navbar.css';
@import './style_components/footer.css';
@import './style_components/formManuals.css';
@import './style_components/formManualsCustom.css';
@import './style_components/formContactCarreers.css';
@import './style_components/faqModule.css';

/* Import style-pages*/
@import './style_pages/home.css';
@import './style_pages/features.css';
@import './style_pages/faq.css';
@import './style_pages/about.css';
@import './style_pages/api.css';
@import './style_pages/pricing.css';
@import './style_pages/terms.css';
@import './style_pages/subscription.css';
@import './style_pages/contact.css';
@import './style_pages/cancellation.css';
@import './style_pages/carreers.css';
@import './style_pages/press.css';
@import './style_pages/brands.css';
@import './style_pages/manuals.css';
@import './style_pages/manual.css';
@import './style_pages/brandDetails.css';
@import './style_pages/dashboard.css';
@import './style_pages/dashboardAccount.css';
@import './style_pages/dashboardAffiliation.css';
@import './style_pages/politics.css';

/* Import online font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/* Import local font */
@font-face {
    font-family: 'gilroy-black';
    src: url('/public/assets/fonts/gilroy/gilroy-black-webfont.woff2') format('woff2'),
         url('/public/assets/fonts/gilroy/gilroy-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-bold';
    src: url('/public/assets/fonts/gilroy/gilroy-bold-webfont.woff2') format('woff2'),
         url('/public/assets/fonts/gilroy/gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-semibold';
    src: url('/public/assets/fonts/gilroy/gilroy-semibold-webfont.woff2') format('woff2'),
         url('/public/assets/fonts/gilroy/gilroy-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*-------------- Reset CSS---------------------*/
*,::before,::after {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
        background-color: #fff;
        overflow-x: hidden ;
}
/*---------------- HOMEPAGE CUSTOM LIVE SEARCH SUGGESITON---------------*/
#searchList{
    list-style-type: none;
    position: absolute;
    z-index: 999;
    background: #fff;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 0 25px;
}
#searchList li{
    margin-bottom: 25px;
    cursor: pointer;
    transition: .2s ease-in-out;
}
#searchList li:hover{
    color: #F28C28;
}

#searchList li:first-child{
    margin-top: 25px;
    cursor: pointer;
}

.customForm{
    position: absolute;
    top: 100px;
    
}








/*---------------- FRAME PREVIEW ---------------------------------*/
.frame-preview{
    height: 500px;
}
/*--------------- Custom features notififications-------------------*/
.success-paypal {
    width: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
}
.success-password {
    width: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*---------------Custom properties -------------*/
/* CUSTOM PROPERTIES FOR HEADER WITH TITLE AND SUBTITLE */
.primary-header {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 225px 0 auto 0;
}
.title-in-header {
    font-family: var(--home-font-h1);
    font-size: 4.9rem;
    line-height: var(--home-line-h1);
    font-weight: var(--home-weight-h1);
    color: var(--home-color-h1);
    text-align: center;
    width: 60%;
    margin: 0 auto 0;
    color: #101621;
}
.title-line {
    width: 60%;
    z-index: -1;
}
.text-in-header {
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    line-height: 1.75em;
    width: 70%;
    text-align: center;
    color: #73737B;
}
/* CUSTOM RESPONSIVE PROPERTIES FOR HEADER - TITLE - LINE CONTENT ALL PAGES */
@media (max-width: 800px) {
.primary-header {
    margin: 100px 0 0 0;
}
.title-in-header {
    font-family: var(--home-font-h1);
    font-size: 2.6rem;
    line-height: var(--home-line-h1);
    font-weight: var(--home-weight-h1);
    color: var(--home-color-h1);
    text-align: center;
    width: 80%;
    margin: 0 auto 0;
    color: #101621;
}
.title-line {
    /* position: absolute; */
    /* top: 60px; */
    width: 60%;
    z-index: -1;
    /* margin-left: 50%;
    transform: translateX(-50%); */
}

.text-in-header{
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    line-height: 1.75em;
    width: 70%;
    text-align: center;
    color: #73737B;
}
}
/*---- CUSTOM BLUE BACKGROUND BLOCK ----*/
.blue-content-block{ /* ajouter à primary-container*/
    background-image: url(/public/assets/img/bg.svg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    margin: 0 10% 0 10%;
}
.bg-text-padding{ /* ajouter à text-block-contain*/
    padding: 42px 0 72px 0;
}

/* CUSTOM PROPERTIES FOR TEXT AND IMAGE BLOCK CONTENT ALL PAGES */
.primary-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0 100px 0;
    position: relative;
    
}
.text-block-contain{
    position: relative;
    width: 40%;
}
.title-in-block{
    font-family: 'Gilroy-black', sans-serif;
    color: #202020;
    font-size: 42px;
    line-height: 1.35em;
    margin-bottom: 20px;
}
.primary-container .text-in-block{
    font-family: var(--font-text);
    font-weight: var(--weight-text);
    font-size: 1.3rem;
    color: #73737b;
    line-height: var(--height-line-text);
    width: 90%;
}
.image-in-block{
    width: 400px;
}
/* CUSTOM RESPONSIVE PROPERTIES FOR TEXT AND IMAGE BLOCK CONTENT ALL PAGES */
@media (max-width: 800px) {
    .text-block-contain {
        width: 100%;
        text-align: center;
        padding: 0 16px 0 16px;
    }
    .title-in-block {
        font-size: 2rem;
    }
    .primary-container .text-in-block {
        font-size: 1.3rem;
        margin: 0 auto 0;
    }
    .image-in-block {
        width: 300px;
    }

}











/*------------------------*/

:root{
    /* Global colors of website */
    --primary-color: #F28C28;
    --secondary-color: #FFB942;
    --third-color : #333;
    --footer-bg : #dddddd;

    /*h1*/
    --home-size-h1 : 42px;
    --home-font-h1 : 'gilroy-black', sans-serif;
    --home-line-h1 : 1.11em;
    --home-weight-h1 : 400;
    --home-color-h1 : #101621;
    /*TEXT ALL WEBSITE*/
    --font-text: 'Roboto', sans-serif;
    --size-text: 20px;
    --color-text: #73737b;
    --line-text : 1.54em;
    --weight-text: 600;

    --size-h1 : 78px;
    --color-h1 : #333;
    --font-h1 : 'gilroy-black';

    --size-h2 : 30px;
    --weight-h2 : 500px;
    --color-h2 : #222;
    --font-h2 : 'Rubik',sans-serif;

    --size-h3 : 25px;
    --weight-h3 : 500px;
    --color-h3 : #333;
    --font-h3 : 'gilroy-bold';



        /* Links */
    --size-links: 18px;
    --weight-links: 600;
    --color-links: #2B2C2E;
    --color-hover-links: #6f55ff;;
    --font-links: 'Rubik', sans-serif;

    /* Button */
    --color-btn: #FD6A5E;
    --color-hover-btn: #FFB942;
    --radius-btn: 50px;
    --size-text-btn: 18px;
    --weight-btn: 600;
    --font-btn: 'gilroy-semibold', sans-serif;
    --pointer-btn: pointer;
    --color-text-btn: #fafafa;
    --padding-btn: 15px;
}

/* button */

        /* padding: 20px 40px 20px 40px;
        margin-top: 20px;
        cursor: var(--pointer-btn);
        transition: 0.5s;
        color: var(--color-text-btn);
        font-family: var(--font-btn);
        font-size: var(--size-text-btn);
        border: 2px solid #fd6a5e;
        border-radius: 6px;
        letter-spacing: 2px;
        background-color: var(--color-btn);
        box-shadow: 0px 10px 15px -3px #33333349; */
