/* Import  style-components */
@import './style_components/navbar.css';
@import './style_components/footer.css';

/* Import style-pages*/
@import './style_pages/home.css';

/* Import online font*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


/* Import local font */
@font-face {
    font-family: 'gilroy-black';
    src: url('/public/assets/fonts/gilroy/gilroy-black-webfont.woff2') format('woff2'),
         url('/public/assets/fonts/gilroy/gilroy-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-bold';
    src: url('/public/assets/fonts/gilroy/gilroy-bold-webfont.woff2') format('woff2'),
         url('/public/assets/fonts/gilroy/gilroy-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-semibold';
    src: url('/public/assets/fonts/gilroy/gilroy-semibold-webfont.woff2') format('woff2'),
         url('/public/assets/fonts/gilroy/gilroy-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-light';
    src: url('/public/assets/fonts/gilroy/gilroy-light-webfont.woff2') format('woff2'),
         url('/public/assets/fonts/gilroy/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-ultralight';
    src: url('/public/assets/fonts/gilroy/gilroy-ultralight-webfont.woff2') format('woff2'),
         url('/public/assets/fonts/gilroy/gilroy-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*-------------- Reset CSS---------------------*/
*,::before,::after {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*---------------Custom properties -------------*/
:root{
    /* Global colors of website */
    --primary-color: #F28C28;
    --secondary-color: #FFB942;
    --third-color : #333;

    /* Titles h1,h2,h3 */
    --size-h1 : 70px;
    --color-h1 : #111;
    --font-h1 : 'gilroy-black';

    --size-h2 : 34px;
    --weight-h2 : 500px;
    --color-h2 : #222;
    --font-h2 : 'Rubik',sans-serif;

    --size-h3 : 36px;
    --weight-h3 : 500px;
    --color-h3 : #333;
    --font-h3 : 'gilroy-bold';

    /* Texts */
    --size-text: 18px;
    --weight-text : 700;
    --height-line-text: 1.7em;
    --color-text: #333;
    --color-link: #F28C28;
    --font-text: 'Roboto', sans-serif;

        /* Links */
    --size-links: 18px;
    --weight-links: 600;
    --color-links: #333;
    --color-hover-links-: #F28C28;
    --font-links: 'Rubik', sans-serif;

    /* Button */
    --color-btn: #F28C28;
    --color-hover-btn: #FFB942;
    --radius-btn: 10px;
    --size-text-btn: 16px;
    --weight-btn: 600;
    --font-btn: 'Roboto', sans-serif;
    --pointer-btn: pointer;
    --color-text-btn: #fafafa;
    --padding-btn: 15px;
}

