@import '_settings.css';

/*--------------------Form responsive--------------*/
@media (max-width: 1055px) {
.contactCarreers-form-container{
    padding: 0 10px 0 10px;
}
.contactCarreers-form-container .identity-container input {
    width: 40vw;
    font-size: 20px;
}
.contactCarreers-form-container .email-message-container input,textarea {
    width: 90vw;
    height: 100%;
    font-size: 20px;
}
.contactCarreers-form-container .email-message-container textarea{
    height: 100px;
}
}
@media (max-width: 415px) {
.contactCarreers-form-container .identity-container input {
        width: 90vw;
        font-size: 20px;
        margin: 10px;
    }
.contactCarreers-form-container .identity-container label{
    display: none;
}
}


/*----------------------Homepage Responsive----------------------*/
@media (max-width: 1170px){
    .home-header{
        padding: 0 16px 0 16px;
    }
    .title-and-form{
        width: 40%;
    }
   .title-and-form h1 {
    font-family: var(--font-h1);
    font-size: 55px;
    color: var(--color-h1);
    font-weight: var(--weight-h1);
    }
    .header-title-custom .shape-header{
    width: 80%;
    top: 35%;
}
    .home-header .floating-illustration .illustration {
        width: 500px;
    }
    .homepage-subtitle h2 {
        font-size: 35px;
    }

    .device-title-custom .shape-header {
    right: 0%;
    bottom: 50%;

}
    .device {
        height: 200px;
    }
    .device img {
        width: 50px;
    }
    .device h2 {
        padding-top: 20px;
        font-size: 22px;
    }
    .devices-container .rotate-circle {
        right: 6%;
    }

/*----- CONTENT BLOCK 1------*/
    .content-block1{
        margin-top: 50px;
        padding: 0 16px 0 16px;
    }

    .content-block1 .title img {
        width: 35px;
        margin-bottom: 0px;
    }

    .content-block1 .title h2 {
        font-size: 35px;
    }

    .content-block1 .title p {
        font-size: 15px;
    }

    .content-block1 .right-block .illustration {
        width: 550px;
    }

/*-----CONTENT-BLOCK N°2---*/
    .content-block2{
        margin-top: 50px;
        padding: 0 16px 0 16px;
    }
    .content-block2 .title-text .icon {
        width: 35px;
    }
    .content-block2 .title-text h2 {
        font-size: 35px;
    }
    .content-block2 .title-text p {
        font-size: 15px;
    }
    .content-block2 .images .illustration {
        width: 550px;
    }

/*----CONTENT BLOCK 3------*/
    .content-block3 {
        margin-top: 50px;
        padding: 0 16px 0 16px;
    }

    .content-block3 .title-text .icon {
        width: 35px;
    }

    .content-block3 .title-text h2 {
        font-size: 33px;
    }

    .content-block3 .title-text p {
        font-size: 15px;
    }

    .content-block3 .images .illustration {
        width: 550px;
    }

/*-------- FEEDBACK CUSTOMERS-----------*/
    .feedback .container1 h2 {
        font-size: 70px;
    }
}
@media (max-width: 1024px) {
    .title-and-form {
        width: 43%;
    }

    .title-and-form h1 {
        font-size: 40px;
    }

    .home-header .floating-illustration .illustration {
        width: 400px;
    }

    .homepage-subtitle h2 {
        font-size: 35px;
    }
    .floating-illustration .float-message1 {
        width: 150px;
        bottom: 10%;
        left: 0;
    }

    .floating-illustration .float-message2 {
    width: 150px;
    top: 20%;
    left: 0;
    }

    .floating-illustration .float-message3 {
        width: 150px;
        bottom: 20%;
        left: 50%;
    }
    .slider {
        height: 80px;
        margin: 30px 0 30px 0;
    }
    .slider .slide-track .slide img {
        height: 80px;
        width: 180px;
        margin-right: 30px;
    }

    .homepage-subtitle .device-title-custom {
        position: relative;
        width: 90%;
        text-align: center;
    }
   .device-title-custom .shape-header {
       right: 0%;
       bottom: 45%;

   }

    .device {
        height: 200px;
    }

    .device img {
        width: 50px;
    }

    .device h2 {
        padding-top: 20px;
        font-size: 22px;
    }

    .devices-container .rotate-circle {
        right: 6%;
    }

    /*----- CONTENT BLOCK 1------*/
    .content-block1 {
        margin-top: 50px;
        padding: 0 16px 0 16px;
    }

    .content-block1 .title img {
        width: 35px;
        margin-bottom: 0px;
    }

    .content-block1 .title h2 {
        font-size: 25px;
    }

    .content-block1 .title p {
        font-size: 15px;
    }

    .content-block1 .right-block .illustration {
        width: 400px;
    }

    /*-----CONTENT-BLOCK N°2---*/
    .content-block2 {
        margin-top: 50px;
        padding: 0 16px 0 16px;
    }

    .content-block2 .title-text .icon {
        width: 35px;
    }

    .content-block2 .title-text h2 {
        font-size: 25px;
    }

    .content-block2 .title-text p {
        font-size: 15px;
        padding-bottom: 50px;
    }

    .content-block2 .images .illustration {
        width: 400px;
    }

    /*----CONTENT BLOCK 3------*/
    .content-block3 {
        margin-top: 50px;
        padding: 0 16px 0 16px;
    }

    .content-block3 .title-text .icon {
        width: 35px;
    }

    .content-block3 .title-text h2 {
        font-size: 30px;
    }

    .content-block3 .title-text p {
        font-size: 15px;
    }

    .content-block3 .images .illustration {
        width: 400px;
    }

    /*-------- FEEDBACK CUSTOMERS-----------*/
    .feedback .container1 h2 {
        font-size: 50px;
    }
    .feedback .container1 .child-face1 {
        position: absolute;
        bottom: -70%;
    }
    
    .feedback .container1 .child-face2 {

        position: absolute;
        right: 50%;
        bottom: -60%;
    }
    
    .feedback .container1 .child-face3 {
        width: 50px;
        position: absolute;
        left: 5%;
        top: 50%;
    }
    
    .feedback .container1 .child-face4 {
        width: 50px;
        position: absolute;
        left: 15%;
        top: -45%;
        }
    
    .feedback .container1 .child-triangle {
        width: 100px;
        position: absolute;
        top: -35%;
        left: 40%;
        }
}
@media (max-width: 768px) {
    .home-header {
        margin-top: 150px;
        text-align: center;
    }

    .title-and-form {
        width: 100%;
    }

    .title-and-form h1 {
        font-size: 40px;
    }
    .header-title-custom {
    text-align: center;
}
    .header-title-custom .shape-header{
    width: 80%;
    top: 47%;
    left: 10%;
}
    .home-header .floating-illustration .illustration {
        width: 300px;
    }
    .floating-illustration .float-message1 {
        width: 150px;
        bottom: 10%;
        left: 0;
    }

    .floating-illustration .float-message2 {
        width: 150px;
        top: 20%;
        left: 0;
    }

    .floating-illustration .float-message3 {
        width: 150px;
        bottom: 20%;
        left: 50%;
    }

    .homepage-subtitle h2 {
        font-size: 25px;
    }
    .homepage-subtitle h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
    .homepage-subtitle .device-title-custom {
        position: relative;
        width: 97%;
        text-align: center;
    }
   .device-title-custom .shape-header {
       right: 10%;
       bottom: 58%;
   }
   .homepage-subtitle h3 {
       text-align: center;
   }
    .device {
        height: 200px;
    }

    .device img {
        width: 50px;
    }

    .device h2 {
        padding-top: 20px;
        font-size: 22px;
    }

    .devices-container .rotate-circle {
        right: 6%;
        width: 100px;
    }
    .devices-container .floating-triangle{
    top: 10%;
    }

    /*----- CONTENT BLOCK 1------*/
    .content-block1 {
        margin-top: 50px;
        padding: 0 16px 0 16px;
    }
    .content-block1 .title {
        width: 100%;
        text-align: center;
    }
    .content-block1 .title img {
        width: 30px;
        margin-bottom: 0px;
    }

    .content-block1 .title h2 {
        font-size: 20px;
    }

    .content-block1 .title p {
        font-size: 15px;
    }

    .content-block1 .right-block .illustration {
        width: 300px;
    }

    /*-----CONTENT-BLOCK N°2---*/
    .content-block2 {
        margin-top: 50px;
        padding: 0 16px 0 16px;
    }
    .content-block2 .title-text {
        width: 100%;
        text-align: center;
    }
    .content-block2 .title-text .icon {
        width: 30px;
    }

    .content-block2 .title-text h2 {
        font-size: 20px;
    }

    .content-block2 .title-text p {
        font-size: 15px;
    }

    .content-block2 .images .illustration {
        width: 300px;
        margin-top: 10px;
    }

    /*----CONTENT BLOCK 3------*/
    .content-block3 {
        margin-top: 50px;
        padding: 0 16px 0 16px;
    }
    .content-block3 .title-text {
        width: 100%;
        text-align: center;
    }
    .content-block3 .title-text .icon {
        width: 30px;
    }

    .content-block3 .title-text h2 {
        width: 100%;
        margin-bottom: 10px;
        font-size: 25px;
    }

    .content-block3 .title-text p {
        font-size: 15px;
    }

    .content-block3 .images .illustration {
        width: 300px;
    }
/*-------- TRANSPARANCY FEEDBACK TITLE---------*/
    .title-custom{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1rem;
}
    /*-------- FEEDBACK CUSTOMERS-----------*/
.feedback {
    display: flex;
    flex-direction: column;
}
    .feedback .container1 h2 {
        font-size: 30px;
    }
    .feedback .container1 .child-face1 {
        width: 30px;
        top: 0;
        left: 100%;
    }
    
    .feedback .container1 .child-face2 {
        width: 30px;
        position: absolute;
        left: 30%;
        bottom: -80%;
    }
    
    .feedback .container1 .child-face3 {
        width: 30px;
        position: absolute;
        left: -20%;
        top: 50%;
    }
    
    .feedback .container1 .child-face4 {
        width: 30px;
        position: absolute;
        left: 15%;
        top: -45%;
        }
    
    .feedback .container1 .child-triangle {
        width: 50px;
        position: absolute;
        top: -35%;
        left: 40%;
        }
        
    .micro-slider {
        height: 400px;
        position: relative;
        width: 100%;
    }

    .slider-item {
        background: rgb(255, 255, 255);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .06), 0 1px 2px rgba(0, 0, 0, .12);
        height: 420px;
        position: absolute;
        left: 0;
        top: 0;
        width: 320px;
        cursor: pointer;
        padding: 25px;
    }

    .micro-slider .slider-item .quote{
        width: 90px;
        margin-left: 25px;
        margin-bottom: 20px;
    }
    .micro-slider .slider-item .stars{
        width: 150px;
        margin-left: 25px;
        margin-bottom: 20px;
    }
}
@media (max-width: 500px){
.homepage-subtitle {
    margin: 0 0px 0 0px;
}
.homepage-subtitle .device-title-custom h2 {
    font-family: 'gilroy-black';
    font-size: 25px;
    line-height: 1.15em;
    color: #101621;
    text-align: center;
    padding-top: 50px;
}
    .header-title-custom .shape-header{
    top: 30%;
}
    .homepage-subtitle .device-title-custom {
        position: relative;
        width: 100;
        text-align: center;
    }
   .device-title-custom .shape-header {
       right: 25%;
       bottom: 20%;

   }
}
/*----------------------Features Responsive--------------*/

@media (max-width: 1024px){
.features-header{
    font-size: 30px;
}

/*---features container----*/
.features-container{
    justify-content:baseline;
    padding: 0 16px 0 16px;
}
.features-container .features-block{
    width: 50%;
}
.features-block h2{
    font-size: 35px;
}
.features-block p {
    margin-top: 10px;
    width: 100%;
    font-size: 15px;
}
.features-container .illustration{
    width: 45%;
}
/*------------FEATURES LISTING X3-----------*/
.features-listing-container {
    margin-top: 50px;
}

.features-listing-container .item {
    margin: 10px;
    width: 230px;
}

.features-listing-container .item p {
    font-size: 16px;
}

.features-listing-container .item img {
    width: 45px;
    padding-bottom: 10px;
}
/*---------------Features container1 BG-block 1 ----------*/
.features-container1 {
    margin-top: 50px;
    padding: 0 16px 0 16px;
}

.features-block {
    width: 50%;
    margin-top: 20px;
}

.features-block h2 {
    font-size: 35px;
}

.features-block p {
    margin-top: 10px;
    width: 100%;
}

.features-container1 .image-block {
    width: 50%;
}


.bg-block{
    background-image: url(/public/assets/img/bg4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.features-container1 .square-item1 {
    left: 55%;
}
.features-container1 .square-item2 {
    left: 53%;
}
.features-container1 .square-item3 {
    right: 5%;
}
.features-container1 .square-item4 {
    left: 60%;
}
.features-container1 .circle-item {
    position: absolute;
    width: 130px;
    bottom: 10%;
    right: 7%;
    animation: rotation 35s infinite;
}

/*---------- FEATURES container 2 -----------------*/
.features-container2 {
    margin-top: 50px;
    padding: 0px 16px 0px 16px;
}

.features-container2 .features-block {
    width: 50%;
}

.features-container2 .features-block h2 {
    font-size: 35px;
}

.features-container2 .features-block p {
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}

.features-container2 .image-block {
    width: 50%;
    border-radius: 20px;
}

.features-container2 .flock-item1 {
    display: none;
}

.features-container2 .flock-item2 {
    display: none;
}

.features-container2 .triangle-item {
    width: 100px;
    top: 10%;
    left: 30%;
}
/*-----------FEATURE CONTAINER 3 ---------*/
.features-container3 {
    margin-top: 50px;
    padding: 0px 16px 0px 16px;
}

.features-container3 .image-block {
    width: 50%;
    border-radius: 20px;
}

.bg-block2 {
    background-color: #FFF6EC;
}

.features-container3 .flock-item1 {
    display: none;
}

.features-container3 .flock-item2 {
    display: none;
}

.features-container3 .circle-item {
    width: 100px;
    bottom: 0%;
    right: 15%;
}

/*---------- FEATURES container 4-----------------*/
.features-container4 {
    margin-top: 50px;
    padding: 0px 16px 0px 16px;

}

.features-container4 .features-block {
    width:50%;
}

.features-container4 .features-block h2 {
    font-size: 35px;

}

.features-container4 .features-block p {
    margin-top: 10px;
    width: 100%;
}

.features-container4 .image-block {
    width: 40%;
}


.features-container4 .triangle-item {
    width: 100px;
}
/*---------- FEATURES container 5-----------------*/
.features-container5 {
    margin-top: 50px;
    padding: 0px 16px 0px 16px;

}

.features-container5 .features-block {
    width: 50%;
}

.features-container5 .features-block h2 {
    font-size: 35px;
}

.features-container5 .features-block p {
    margin-top: 10px;
    width: 100%;
}

.features-container5 .image-block {
    width: 40%;
}

.features-container5 .square-item2 {
    bottom: -10%;
}


.features-container5 .more-item2 {
    bottom: -10%;
}

}
@media (max-width: 768px) {
.features-header {
        font-size: 25px;
    }

    /*---features container----*/
    .features-container .features-block {
        width: 100%;
        text-align: center;
    }

    .features-container .features-block h2 {
        font-size: 30px;
    }

    .features-container .features-block p {
        width: 100%;
    }

    .features-container .illustration {
        width: 50%;
    }

    /*------------FEATURES LISTING X3-----------*/
    .features-listing-container .item {
        width: 250px;
    }

    /*---------------Features container1 BG-block 1 ----------*/
    .features-container1 {
        margin-top: 50px;
        padding: 0 16px 0 16px;
        text-align: center;
    }

    .features-block {
        width: 100%;
        margin-top: 50px;
    }

    .features-block h2 {
        font-size: 30px;
    }

    .features-block p {
        margin-top: 10px;
        width: 100%;
    }

    .features-container1 .image-block {
        width: 60%;
    }

    .features-container1 .circle-item {
        width: 100px;
    }

    /*---------- FEATURES container 2 -----------------*/
    .features-container2 {
        margin-top: 50px;
        padding: 0px 16px 0px 16px;
        text-align: center;
    }

    .features-container2 .features-block {
        width: 100%;
    }

    .features-container2 .features-block h2 {
        font-size: 30px;
    }

    .features-container2 .image-block {
        width: 60%;
        border-radius: 20px;
    }

    .features-container2 .triangle-item {
        top: 0%;
        left: 0%;
    }

    /*-----------FEATURE CONTAINER 3 ---------*/
    .features-container3 {
        margin-top: 50px;
        padding: 0px 16px 0px 16px;
        text-align: center;
    }
    .features-container3 .features-block h2{
        font-size: 30px;
    }
    .features-container3 .image-block {
        width: 50%;
        border-radius: 20px;
    }

    .bg-block2 {
        background-color: #FFF6EC;
    }

    .features-container3 .flock-item1 {
        display: none;
    }

    .features-container3 .flock-item2 {
        display: none;
    }

    .features-container3 .circle-item {
        width: 100px;
        bottom: 0%;
        right: 15%;
    }

    /*---------- FEATURES container 4-----------------*/
    .features-container4 {
        margin-top: 50px;
        padding: 0px 16px 0px 16px;
        text-align: center;

    }

    .features-container4 .features-block {
        width: 100%;
    }

    .features-container4 .features-block h2 {
        font-size: 30px;

    }

    .features-container4 .features-block p {
        margin-top: 10px;
        width: 100%;
    }

    .features-container4 .image-block {
        width: 50%;
    }


    .features-container4 .triangle-item {
        width: 70px;
        left: 65%;
    }

    /*---------- FEATURES container 5-----------------*/
    .features-container5 {
        text-align: center;

    }

    .features-container5 .features-block {
        width: 100%;
    }

    .features-container5 .features-block h2 {
        font-size: 30px;
    }

    .features-container5 .image-block {
        width: 50%;
    }
}

/*----------------FAQ RESPONSIVE-------------------*/
@media (max-width: 1024px) {
.faq-block {
    width: 80%;
    text-align: center;
    }
.faq-container img{
    width: 200px;
}
}
@media (max-width: 600px) {
.faq-header {
        height: 50vh;
        text-align: center;
        font-size: 35px;
    }
.faq-container .image-block {
    width: 300px;
}
.faq .faq-question{
    background-color: #fff;
    margin: 50px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.212);
    width: 60%;
    height: auto;
}
}

/*----------------ABOUT RESPONSIVE-------------------*/
@media (max-width: 1024px) {
.about-header {
        height: 100vh;
        display: flex;
    }
.about-header .title-text {
        margin-top: 100px;
        width: 80%;
        text-align: center;
    }


.our-mission .text-block {
    width: 40%;
    padding-right: 0px;
}
.our-mission .text-block h2 {
    font-size: 50px;
}

.our-mission .text-block p {
    font-size: 15px;
}
.our-mission .image-block img {
    width: 400px;
}

/*----*/

.our-solution .text-block {
    width: 40%;
    padding-left: 16px;
}
.our-solution .text-block h2 {
    font-size: 50px;
}

.our-solution .text-block p {
    font-size: 15px;
}
.our-solution .image-block img {
    width: 400px;
}

}
@media (max-width: 768px) {

.about-header .title-text {
        margin-top: 200px;
        width: 80%;
        text-align: center;
    }

.about-header .floating-square1 {
    width: 220px;
}

.about-header .floating-square2 {
    width: 220px;
}
/*--*/
.our-mission{
    text-align: center;
}
.our-mission .text-block {
    width: 100%;
}

/*----*/

.our-solution{
    text-align: center;
}
.our-solution .text-block {
    width: 100%;
}
/*----*/
.our-team .text-block {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.our-team .members-block {
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}


}
@media (max-width: 500px) {

.about-header .title-text {
        margin-top: 100px;
        width: 80%;
        text-align: center;
    }
.about-header .title-text h1 {

    font-size: 30px;

}

.about-header .title-text p {
    margin-top: 10px;
    font-size: 15px;

}
.about-header .floating-square1 {
    display: none;
}

.about-header .floating-square2 {
    display: none;
}
/*--*/
.our-mission{
    text-align: center;
}
.our-mission .text-block {
    width: 100%;
}
.our-mission .image-block img {
    width: 300px;
}
/*----*/

.our-solution{
    text-align: center;
    
}
.our-solution .text-block {
    width: 100%;
}

.our-solution .image-block img {
    width: 280px;
}
/*----*/
.our-team .text-block {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.our-team .members-block {
    justify-content: center;
    width: 100%;
    margin-top: 50px;
}
.our-team .text-block h2 {
    font-size: 50px;
}
}
/*----------------API RESPONSIVE-----------------*/
@media (max-width: 1225px) {
.api-ancre{
    left: 10px;
    padding: 20px;
}
.api-container .title-text{
    margin-left: 200px;
}
}
@media (max-width: 768px) {
.api-ancre{
    top: 150px;
    left: 5px;
    padding: 10px;
    width: 40%;
}
.api-container .title-text{
    margin-bottom: 100px;
    width: 60%;
}
.api-container .title-text{
    margin-left: 0px;
}
}
@media (max-width: 500px) {
.api-ancre{
    top: 150px;
    left: 16px;
    padding: 0px;
    width: 40%;
}
.api-ancre ul .custom-line {
    width: 100px;
}
.api-container .title-text{
    margin-bottom: 100px;
    width: 100%;
}
.api-container .title-text{
    margin-left: 0px;
}
.api-ancre ul li a{
    font-family: var(--font-h2);
    font-size: 15px;
}
.api-container .title-text h2 {
    font-size: 20px;
}

.api-container .title-text p {
    font-size: 13px;
}
}

/*------------------PRICING RESPONSIVE-------------------*/

@media (max-width: 1024px) {
.pricing-header h1{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.pricing-header .square-item1 {
    width: 15px;
    top: 50%;
    left: 3%;
}
.pricing-table{
row-gap: 100px;
   
}
.pricing-container1{
    height: 500px;
}
.pricing-container2{
    height: 500px;
}
.pricing-container3{
    height: 500px;
}
.pricing-containers .pricing-section1 .triangle-item {
    width: 150px;
    position: absolute;
    top: 35%;
    left: 3%;
}
/*--------- section text-block  -----------------*/
.pricing-section2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 100px 16px 50px 16px;
    position: relative;
}

.pricing-section2 .pricing-block {
    width: 70%;
}

.pricing-section2 .pricing-block h2 {
    text-align: center;
}

.pricing-section2 .pricing-block p {
    text-align: center;
    margin-bottom: 20px;
}

.pricing-section2 .image-block {
    width: 400px;
}
/*----*/
.pricing-section3 .pricing-block {
    width: 70%;
}

.pricing-section3 .pricing-block h2 {
    text-align: center;
}

.pricing-section3 .pricing-block p {
    text-align: center;
}

.pricing-section3 .image-block {
    width: 400px;
}
/*----*/
.pricing-section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 100px 16px 50px 16px;
    position: relative;
}

.pricing-section4 .pricing-block {
    width: 70%;
}

.pricing-section4 .pricing-block h2 {
    text-align: center;
}

.pricing-section4 .pricing-block p {
    text-align: center;
}
.pricing-section4 .image-block {
    width: 400px;
}
/*-----*/

.pricing-section5 .pricing-block {
    width: 70%;
}

.pricing-section5 .pricing-block h2 {
    text-align: center;
}
.pricing-section5 .pricing-block p {
    text-align: center;
}
.pricing-section5 .image-block {
    width: 400px;
}
/*-----*/
.pricing-section6 .pricing-block {
    width: 70%;
}

.pricing-section6 .pricing-block h2 {
    text-align: center;
}

.pricing-section6 .pricing-block p {
    text-align: center;
}

.pricing-section6 .image-block {
    width: 200px;
}
/*-----*/
.pricing-section7 .pricing-block {
    width: 70%;
}

.pricing-section7 .pricing-block h2 {
    text-align: center;
}

.pricing-section7 .pricing-block p {
    text-align: center;
}

.pricing-section7 .image-block {
    width: 200px;
}
}
@media (max-width: 768px) {
.pricing-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -180px;
    /* margin-bottom: 150px; */
    padding: 0 16px 0 16px;
}
.pricing-header {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items:unset;
        background: #ecf6ff;
        padding-top: 120px;
    }
.pricing-header h1 {
        width: 100%;
        font-size: 30px;
        margin-top:100px;
        text-align: center;
    }

}

@media (max-width: 500px) {
.pricing-table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -100px;
    margin-bottom: 150px;
    padding: 0 16px 0 16px;
}
.pricing-header {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: unset;
        background: #ecf6ff;
        /* padding-top: 120px; */
    }
.pricing-header h1 {
        width: 100%;
        font-size: 30px;
        margin-top: 0px;
        text-align: center;
    }

    .pricing-header .square-item1 {
        width: 15px;
        top: 50%;
        left: 3%;
    }

    .pricing-table {
        row-gap: 100px;

    }
.pricing-table .triangle-item {
    width: 100px;
    }
    
    .pricing-container1 {
        height: 500px;
        margin-top: -100px;
        z-index: 0;
    }

    .pricing-container2 {
        height: 500px;
    }

    .pricing-container3 {
        height: 500px;
    }
    .pricing-containers .pricing-section1 h2{
    font-size: 23px;
}
    .pricing-containers .pricing-section1 p{
    font-size: 15px;
    width: 100%;
}
    .pricing-containers .pricing-section1 .triangle-item {
        width: 80px;
        position: absolute;
        top: 49%;
        left: 3%;
    }
    .pricing-containers .pricing-section1 .circle-item {
        width: 100px;
        top: 80%;
        right: 15%;
    }

    .pricing-containers .pricing-section1 img{
    width: 250px;
}
    /*--------- section text-block 2 -----------------*/
    .pricing-section2{
        padding-bottom: 0px ;
    }

    .pricing-section2 .pricing-block {
        width: 100%;
        text-align: center;
    }

    .pricing-section2 .pricing-block h2 {
        font-size: 23px;
    }

    .pricing-section2 .pricing-block p {
        font-size: 15px;
    }

    .pricing-section2 .image-block {
    width: 250px;
    }
    
/*--------- section text-block 3 -----------------*/
.pricing-section3 {
    padding: 50 16px 50px 16px;
}

.pricing-section3 .pricing-block {
    width: 100%;
    text-align: center;
}

.pricing-section3 .pricing-block h2 {
    font-size: 23px;
}

.pricing-section3 .pricing-block p {
    font-size: 15px;
}

.pricing-section3 .image-block {
    width: 250px;
}

/*--------- section text-block 4 -----------------*/
.pricing-section4 {
    padding: 50px 16px 50px 16px;

}

.pricing-section4 .pricing-block {
    width: 100%;
    text-align: center;
}

.pricing-section4 .pricing-block h2 {
    font-size: 23px;
}

.pricing-section4 .pricing-block p {
    font-size: 15px;
    color: var(--font-color);
}

.pricing-section4 .image-block {
    width: 250px;
}
.pricing-section4 .circle-item {
    width: 70px;
    top: 12%;
    left: 65%;
}
.pricing-section4 .square-item1 {
    width: 15px;
    top: 5%;
    left: 25%;
}
/*--------- section text-block 5 -----------------*/
.pricing-section5 {
    padding: 50px 16px 0px 16px;
}

.pricing-section5 .pricing-block {
    width: 100%;
    text-align: center;
}

.pricing-section5 .pricing-block h2 {
    font-size: 23px;
}

.pricing-section5 .pricing-block p {
    margin-top: 30px;
    font-size: 15px;
}

.pricing-section5 .image-block {
    width: 250px;
}
/**----*/
.pricing-section6 .pricing-block h2 {
    font-size: 23px;
}
.pricing-section7 .pricing-block h2 {
    font-size: 23px;
}
}


@media (max-width: 768px) {
.contact-block {
    flex-basis: 90%;
}
}

/*-------------CONTACT RESPONSIVE--------------*/
@media (max-width: 768px) {
    .carreers-header {
    margin-bottom: 200px;
    padding: 150px 0 0 0;
}
.carreers-header .title-text h1 {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    text-align: center;
    width: 70%;
    margin: 0 auto 0;;
}
.fullContain .text-block {
    width: 80%;
}
.fullContain .text-block h2{
    font-size: 30px;
}
.carreers-block {
    text-align: center;
    width: 80%;
    margin: 0px;
    padding: 25px;
    cursor: pointer;
}
.carreers-block p {
    font-size: 18px;
}
.content-carreers h2 {
    text-align: center;
    font-family: 'gilroy-black', sans-serif;
    font-size: 30px;
    color: #101621;
    margin: 0px 0 00px;
}
}






















/*-------------------CSS Animation ----------------*/
/* @keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */


/* @keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-200px * 7))
    }
} */

/* @keyframes floating {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0%);
    }
} */