/* .faq {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #fffbf2, #edfffd);
}

.faq .faq-question {
    background-color: #fff;
    margin: 50px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.212);
    width: 60%;
    height: 200px;
}

.faq .faq-question h2 {
    font-family: 'Gilroy-black', sans-serif;
    font-size: var(--size-h2);
    color: var(--color-h2);
    margin-bottom: 10px;
}

.faq .faq-question p {
    font-family: var(--font-text);
    font-weight: var(--weight-text);
    font-size: var(--size-text);
}
*/
/*-----------------------------------------------*/
.faq-module{
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq{
    width: 50%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
}
.faq .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq .question h3{
    font-family: var(--font-h1);
    font-size: 30px;
    color: var(--color-h2);
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.faq hr{
    height: 3px;
    background-color: #d4d4d43b;
    margin-top: 15px;
}
.answer p{
    font-family: var(--font-text);
    font-weight: var(--weight-text);
    font-size: var(--size-text);
    color: var(--font-color);
    line-height: var(--height-line-text);
}

.faq.active .answer{
    max-height: 300px;
    animation: fade 0.5s ease-in-out;
}

.faq.active img{
    transform: rotate(0deg);
    transition: transform 0.5s ease-in;
}
.question img {
    width: 35px;
    transform: rotate(180deg);
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}