
.faq-module{
    margin: 100px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq{
    width: 50%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    cursor: pointer;
}
.faq .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}
.faq hr{
    height: 3px;
    background-color: #d4d4d43b;
    margin-top: 15px;
}

.faq.active .answer{
    max-height: 300px;
    animation: fade 0.5s ease-in-out;
}

.faq.active img{
    transform: rotate(0deg);
    transition: transform 0.5s ease-in;
}
.question img {
    width: 35px;
    transform: rotate(180deg);
    transition: transform 0.5s ease-in;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: translateY(-10px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}