.faq {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #fffbf2, #edfffd);
}

.faq .faq-question {
    background-color: #fff;
    margin: 50px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.212);
    width: 60%;
    height: 200px;
}

.faq .faq-question h2 {
    font-family: 'Gilroy-black', sans-serif;
    font-size: var(--size-h2);
    color: var(--color-h2);
    margin-bottom: 10px;
}

.faq .faq-question p {
    font-family: var(--font-text);
    font-weight: var(--weight-text);
    font-size: var(--size-text);
}

.faq-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 0;
}

.faq-block {
    width: 40%;
    padding: 0 16px 0 16px;
}

.faq-container img {
    width: 300px;
    padding: 0 25px 0 25px;
}

.faq-container .image-block {
    width: 600px;
}

.faq-block h2 {
    font-family: var(--font-h1);
    font-size: 40px;
    color: var(--color-h2);
}

.faq-block p {
    margin-top: 30px;
    font-family: var(--font-text);
    font-weight: var(--weight-text);
    font-size: var(--size-text);
    color: var(--font-color);
    line-height: var(--height-line-text);
}