footer{
    padding: 50px 0 0 0;
    margin-top: 100px;
    text-align: center;
    position: relative;
}
footer .link-footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.link-footer-container img{
    width: 150px;
}

footer .link-footer-container .links-container{
    display: flex;
    flex-direction: column;
    text-align: left;
}
footer .link-footer-container .links-container h2{
    font-family: 'gilroy-semibold', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.link-footer-container .links-container .link-item{
    text-decoration: none;
    font-size: 16px;
    font-family: var(--font-links);
    /* font-weight: var(--weight-links); */
    color: #727272;
    padding: 10px;
}
.link-footer-container .links-container .link-item:hover{
    color: #FD6A5E;
}

.links-container img{
    width: 60px;
}
.copyright{
    font-family: var(--font-text);
    margin-top: 15vh;
    margin-bottom: 5vh;
}
.copyright a{
    text-decoration: none;
    font-weight: var(--weight-links);
    color: var(--color-links);
}
.triangle-item-footer{
    position:absolute;
    bottom: -20%;
    left: 15%;
    width: 200px;
}
.square-item-footer{
    position:absolute;
    bottom: 20%;
    right: 20%;
    width: 10px;
}