.search-form {
    background-color: #fff;
    margin-top: 5px;
    /* border: solid 3px var(--third-color); */
    border-radius: 25px;
    box-shadow: 2px 4px 8px 1px rgba(0, 0, 0, 0.381);
    padding: 10px;
}

.search-form .input-fields .STR_TITLE_FORM_1{
   /* margin-bottom: 0px; */
   font-size: var(--size-h1);
   font-family: var(--font-h1);
   color: var(--color-h1);
}
.search-form .input-fields .STR_TITLE_FORM_2{
    font-size: var(--size-h3);
    font-family: var(--font-h3);
    color: var(--color-h3);
    /* margin-bottom: 0px; */
}

.search-form .input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-fields .styled-input {
    padding: 7px;
    border: solid 2px var(--third-color);
    border-radius: 10px;
    width: 50%;
    font-size: 16px;
}

.input-fields label{
    margin-top: 10px;
    font-family: var(--font-text);
    font-weight: var(--weight-text);
    color: var(--color-text);
    letter-spacing: 2px;
}

#search-button {
    padding: 7px 0px 7px 0px;
    width: 50%;
    margin-top: 20px;
    cursor: var(--pointer-btn);
    transition: 0.5s;
    color: var(--color-text-btn);
    font-family: var(--font-btn);
    font-size: var(--size-text-btn);
    font-weight: var(--weight-btn);
    border-radius: var(--radius-btn);
    letter-spacing: 2px;
    background-size: 200%;
    background-image: linear-gradient(to right, var(--color-btn) 0%, var(--color-hover-btn) 100%);
    border: none;
    box-shadow: 0px 10px 15px -3px #ce78229c;
    display: flex;
    align-items: center;
    justify-content: center;
    }

#search-button:hover {
    background-position: right;
}
#search-button img{
    width: 30px;
    margin-left: 10px;
}