.search-form {
    background-color: #fff;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px -5px rgba(0, 0, 0, 0.381);
    padding: 10px;
}

.search-form h2{
    font-family: var(--font-h2);
    font-size: 25px;
    font-weight: var(--weight-h2);
    color: var(--color-h2);
    text-align: center;
    margin-bottom: 15px;
}


.search-form .input-fields {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input-fields .styled-input {
    padding: 7px;
    border: solid 2px var(--third-color);
    border-radius: 10px;
    width: 30%;
    font-size: 16px;
}
/* 
.input-fields label{
    margin-top: 10px;
    font-family: var(--font-text);
    font-weight: var(--weight-text);
    color: var(--color-text);
} */

#search-button {
    padding: 7px 0px 7px 0px;
    width: 50%;
    margin-top: 20px;
    cursor: var(--pointer-btn);
    transition: 0.5s;
    color: var(--color-text-btn);
    font-family: var(--font-btn);
    font-size: var(--size-text-btn);
    font-weight: var(--weight-btn);
    border-radius: var(--radius-btn);
    letter-spacing: 2px;
    background-size: 200%;
    background-image: linear-gradient(to right, var(--color-btn) 0%, var(--color-hover-btn) 100%);
    border: none;
    box-shadow: 0px 10px 15px -3px #ce78229c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    transform: translateX(-50%)
    }

#search-button:hover {
    background-position: right;
}
#search-button img{
    width: 30px;
    margin-left: 10px;
}