nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 110px;
    padding: 15px 25px;
    background: #ffffff00;
    transition: background-color 0.5s ease;
    font-family: var(--font-links);
    z-index: 100000;
    transition: 0.5s;
    column-gap: 20px;
}
nav.scrolled {
    transition: 0.5s;
    height: 80px;
    background-color: rgb(255, 255, 255);

}

.nav-icon {
    /* margin-right: auto; */
    text-decoration: none;
}

.nav-icon img {
    width: 150px;
}

.hamburger {
    display: none;
}
.navlinks-container{
    display: flex;
    align-items: center;
    column-gap: 50px;
}
.navlinks-container .separate{
    display: none;
}
.navlinks-container a {
    /* margin: 0 50px 0 0; */
    font-size: var(--size-links);
    font-weight: var(--weight-links);
    text-decoration: none;
    color: #414141;
    display: inline-block;
    position: relative;
}
.navlinks-container a:hover{
    color: var(--color-btn);
}

.signs-btn button{
    background: rgba(255, 104, 40, .07);
    padding:12px 30px 12px 30px;
    cursor: var(--pointer-btn);
    transition:  0.5s;
    color: var(--color-btn);
    font-family: var(--font-btn);
    font-size: 15px;
    font-weight: var(--weight-btn);
    border-radius: var(--radius-btn);
    border: 1px solid rgba(255, 122, 81, .4);
    box-shadow: 0px 10px 15px -3px #38383849;
}
.signs-btn button:hover{
    color: #fff;
    background: var(--color-btn);
}

.nav-authentication a{
    font-size: var(--size-links);
    font-weight: var(--weight-links);
    text-decoration: none;
    color: #414141;
    display: inline-block;
    margin-right: 20px;
}

/*---------------MODAL SING IN / SIGN UP------------------*/
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;

}

.closeModalBtn {
    width: 30px;
    position: absolute;
    right: -10%;
    cursor: pointer;
    transform: rotate(0deg);
    transition: .5s;
}

.closeModalBtn:hover {
    transform: rotate(180deg)
}

.container-onglets {
    width: 100%;
    display: flex;
    height: 20%;
}

.onglets {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.onglets:nth-child(1) {
    border-right: 1px solid rgba(177, 177, 177, 0.178);
}

.contenu {
    height: 70%;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 35%;
    transform: translateY(-25%);
    opacity: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
}

.login input {
    width: 90%;
    padding: 15px;
    margin-top: 30px;
    z-index: 999;
    border: solid 2px rgba(167, 167, 167, 0.329);
    border-radius: 5px;
}
.fm .fld:before {
    transition: .3s;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-user:before {
    content: "\f007";
}
.signup input {
    width: 80%;
    padding: 15px;
    margin-top: 30px;
    z-index: 999;
    border: solid 2px rgba(167, 167, 167, 0.329);
    border-radius: 5px;
}

.contenu button {
    display: block;
    margin: 10px auto 0;
}

.contenu a {
    display: block;
    text-decoration: none;
    margin-top: 50px;
}

/* anim */
.start {
    background-color: #ffffff;
    color: #101621;
    transition: all 0.3s ease;
}

.startContenu {
    animation: fade 0.5s forwards;
    z-index: 999;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*-----------Responsive navbar---------*/
@media (max-width: 1024px) {
    nav {
        justify-content: space-between;
        padding: 15px 20px;
        position: fixed;
    }

    .nav-icon span {
        font-size: 22px;
    }

    .main-navlinks {
        order: 1;
        color: #333;
    }

    .navlinks-container .separate{
    display:inline;
}

    /* Hamburger */
    .hamburger {
        cursor: pointer;
        border: none;
        display: flex;
        right: 0;
        background: #ffffff00;
        align-items: center;
        position: relative;
        padding: 10px;
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;

    }

    .hamburger span:nth-child(1),
    .hamburger span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }

    .hamburger span:nth-child(1) {
        transform: translateY(7px);
    }

    .hamburger span:nth-child(3) {
        transform: translateY(-7px);
    }

    .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }

    .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: #ffffff;
        top: 100%;
        left: 0;
        height: 100vh;
        width: 300px;
        padding: 15px 50px 15px 20px;
        transform: translate(-100%);
    }

    .open {
        transform: translate(0%);
    }

    .navlinks-container a {
        font-size: 18px;
        margin: 10px 0 10px 0;
    }
    .separate{
        width: 100%;
        height: 0.5px;
        background: #000;
    }
.signs-btn button{
   margin: 50px;
}
}

@media (max-width: 500px) {
    .nav-icon img {
        width: 100px;
    }

    .nav-icon span {
        font-size: 20px;
    }
}