nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 150px;
    background: #ffffff00;
    transition: background-color 0.5s ease;
    font-family: var(--font-links);
    z-index:998;
    transition: 0.5s;
}

nav.scrolled {
    transition: 0.5s;
    height: 100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 13px 35px -12px rgb(35 35 35 / 10%);

}

.nav-icon {
    /* margin-right: auto; */
    text-decoration: none;
}

.nav-icon img {
    width: 150px;
}

.hamburger {
    display: none;
}
.navlinks-container{
    display: flex;
    align-items: center;
    column-gap: 50px;
    /* padding: 0 150px 0 150px; */
}
.navlinks-container .separate{
    display: none;
}
.navlinks-container a {
    /* margin: 0 50px 0 0; */
    font-size: var(--size-links);
    font-weight: var(--weight-links);
    text-decoration: none;
    color: #414141;
    display: inline-block;
    position: relative;
}
.navlinks-container a:hover{
    color: var(--color-btn);
}

.signs-btn button{
    background: rgba(255, 104, 40, .07);
    padding:12px 30px 12px 30px;
    cursor: var(--pointer-btn);
    transition:  0.5s;
    color: var(--color-btn);
    font-family: var(--font-btn);
    font-size: 15px;
    font-weight: var(--weight-btn);
    border-radius: var(--radius-btn);
    border: 1px solid rgba(255, 122, 81, .4);
}
.signs-btn button:hover{
    color: #fff;
    background: var(--color-btn);
}

.nav-authentication a{
    font-size: var(--size-links);
    font-weight: var(--weight-links);
    text-decoration: none;
    color: #414141;
    display: inline-block;
    margin-right: 20px;
}

/*---------------MODAL SING IN / SIGN UP------------------*/

#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background: #fcfdff;
    border-radius: 5px;
    box-shadow: 0 0 0  2500px #00000036;
    z-index: 999;

}

.closeModalBtn {
    width: 30px;
    position: absolute;
    right: -10%;
    top: 5%;
    cursor: pointer;
    transform: rotate(0deg);
    transition: .5s;
}

.closeModalBtn:hover {
    transform: rotate(180deg)
}

.container-onglets {
    width: 100%;
    display: flex;
    height: 20%;
}

.onglets {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.forgotPassword{
    cursor: pointer;
}
#reset{
    width:auto;
    margin-top: 20px;
    cursor: var(--pointer-btn);
    transition: 0.5s;
    color: var(--color-text-btn);
    font-family: var(--font-btn);
    font-size: var(--size-text-btn);
    border: 2px solid #fd6a5e;
    border-radius: 6px;
    letter-spacing: 2px;
    background-color: var(--color-btn);
}
#reset:hover{
    background: #fff;
    color: #fd6a5e;
}
.onglets:nth-child(1) {
    border-right: 1px solid rgba(177, 177, 177, 0.178);
}

.contenu {
    height: 70%;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 24%;
    transform: translateY(-25%);
    opacity: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
}

.login input {
    width: 90%;
    padding: 15px;
    margin-top: 20px;
    z-index: 999;
    border: solid 2px rgba(167, 167, 167, 0.329);
    border-radius: 5px;
    text-indent: 40px;
    font-family: 'rubik', sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px;
}

.login form .icon-login{
    width: 13px;
    position: absolute;
    top: 60px;
    left: 45px;
    opacity: 0.5;
}
.login form .icon-key{
    width: 20px;
    position: absolute;
    top: 129px;
    left: 40px;
    opacity: 0.8;
}
.signup form .icon-login{
    width: 13px;
    position: absolute;
    top: 70px;
    left: 45px;
    opacity: 0.5;
}
.signup form .icon-key{
    width: 20px;
    position: absolute;
    top: 147px;
    left: 40px;
    opacity: 0.8;
}
.signup form .icon-key2{
    width: 20px;
    position: absolute;
    bottom: 103px;
    left: 40px;
    opacity: 0.8;
}
.signup input {
    width: 90%;
    padding: 15px;
    margin-top: 30px;
    z-index: 999;
    border: solid 2px rgba(167, 167, 167, 0.329);
    border-radius: 5px;
    text-indent: 40px;
    font-family: 'rubik', sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px;
}
.captcha-style-login{
    margin-top: 10px;
    display: flex;
    justify-content: center;

}
.contenu button {
    display: block;
    margin: 10px auto 0;
    padding: 15px 40px 15px 40px;
    cursor: var(--pointer-btn);
    transition: 0.5s;
    color: var(--color-text-btn);
    font-family: var(--font-btn);
    font-size: 15px;
    border: 2px solid #fd6a5e;
    border-radius: 6px;
    letter-spacing: 2px;
    background-color: var(--color-btn);
    box-shadow: 0px 10px 15px -3px #33333349;
}
.contenu button:hover{
    color: #fd6a5e;
    background: #fff;
}
.contenu a {
    display: block;
    text-decoration: none;
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #101621;
    letter-spacing: 2.5px;
}

/* anim */
.start {
    background-color: #ffffff;
    color: #101621;
    transition: all 0.3s ease;
}

.startContenu {
    animation: fade 0.5s forwards;
    z-index: 999;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
/*---------------------------- IF USER CONNECTED NAV STYLE--------------------*/
.dropdown-user {
    width: 200px;
    position: relative;
    margin-top: 180px;

}

.btn-top {
    background-color: #f85f73;
}

.btn-top:hover {
    background-color: #B71C1C;
}

.btn-top,
.links {
    padding: 12px;
    font-size: 1.2em;
    font-family: futura Md BT;
    border: none;
    outline: none;
    width: 200px;
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    margin-top: 5px;
}

.newlist {
    transform: scaleY(1);
}

.links {

    background-color: #ffffff;
    text-align: center;
    color: #f1f1f1;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;

}

.links:hover {
    transform: scale(1.1);

}



/*-----------Responsive navbar---------*/
@media (max-width: 1024px) {
    nav {
        justify-content: space-between;
        padding: 15px 20px;
        position: fixed;
        height: 50px;
        z-index:998;
    }

    .nav-icon span {
        font-size: 22px;
    }

    .main-navlinks {
        order: 1;
        color: #333;
    }

    .navlinks-container .separate{
    display:inline;
}

    /* Hamburger */
    .hamburger {
        cursor: pointer;
        border: none;
        display: flex;
        right: 0;
        background: #ffffff00;
        align-items: center;
        position: relative;
        padding: 10px;
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;

    }

    .hamburger span:nth-child(1),
    .hamburger span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }

    .hamburger span:nth-child(1) {
        transform: translateY(7px);
    }

    .hamburger span:nth-child(3) {
        transform: translateY(-7px);
    }

    .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }

    .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: #ffffff;
        top: 80%;
        left: 0;
        height: 100vh;
        /* width: 300px; */
        padding: 0 50px 0 20px;
        transform: translate(-100%);
    }

    .open {
        transform: translate(0%);
    }

    .navlinks-container a {
        font-size: 15px;
        margin: 0 0 10px 0;
    }
/*-------- CUSTOM MY ACCOUNT HAMBURGER MENU IF AUTH--------------*/
.signs-btn button{
   width: 80%;
   margin-left: 18px;
}
.dropdown-user{
    margin-top: 20px;
    display: block;
}
.dropdown-user a{
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 0;
}
}

@media (max-width: 500px) {
    .nav-icon img {
        width: 100px;
    }

    .nav-icon span {
        font-size: 20px;
    }
}



/*----------------------------------RESPONSIVE MODAL------------------------------------*/
@media (max-width: 670px) {
    #modal {
        width: 80%;
    }
}