nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    padding: 15px 25px;
    background: #fafafa;
    transition: background-color 0.5s ease;
    font-family: var(--font-links);
    z-index: 100000;
}
nav.scrolled {
    transition: 0.5s;
    height: 80px;
    background-color: rgba(232, 224, 224, 0.5);

}

.nav-icon {
    margin-right: auto;
    text-decoration: none;
}

.nav-icon img {
    width: 150px;
}

.hamburger {
    display: none;
}
.navlinks-container .separate{
    display: none;
}
.navlinks-container a {
    margin: 0 5px;
    font-size: var(--size-links);
    font-weight: var(--weight-links);
    text-decoration: none;
    color: #414141;
    display: inline-block;
    position: relative;
}

.navlinks-container a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background: var(--primary-color);
    transition: transform 0.3s ease-out;
}

.navlinks-container a:hover::after {
    transform: scaleX(1);
}

.nav-authentication {
    margin-left: 100px;
}

.signs-btn button{
    padding: 15px 20px 15px 20px;
    cursor: var(--pointer-btn);
    transition:  0.5s;
    color: var(--color-text-btn);
    font-family: var(--font-btn);
    font-size: var(--size-text-btn);
    font-weight: var(--weight-btn);
    border-radius: var(--radius-btn);
    background-size: 200%;
    background-image: linear-gradient(to right,#F28C28 0%, #f7c955 100%);
    border: none;
    box-shadow: 0px 10px 15px -3px #ce78229c;
}
.signs-btn button:hover{
    background-position: right;
}

.sign-user {
    display: none;
}

/*-----------Responsive navbar---------*/
@media (max-width: 1024px) {
    nav {
        padding: 15px 20px;
        position: fixed;
    }

    /* .nav-icon {
        order: 2;
        margin: 0 auto;
    } */

    .nav-icon span {
        font-size: 22px;
    }

    .main-navlinks {
        order: 1;
        color: #333;
    }

    .navlinks-container .separate{
    display:inline;
}

    /* Hamburger */
    .hamburger {
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        display: flex;
        background: #fafafa00;
        align-items: center;
        position: relative;
    }

    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background: var(--primary-color);
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
        margin: 10px;

    }

    .hamburger span:nth-child(1),
    .hamburger span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }

    .hamburger span:nth-child(1) {
        transform: translateY(7px);
    }

    .hamburger span:nth-child(3) {
        transform: translateY(-7px);
    }

    .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }

    .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    .navlinks-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        background: #f8f8f8;
        top: 100%;
        left: 0;
        height: 100vh;
        width: 300px;
        padding: 15px 50px 15px 20px;
        transform: translate(-100%);
    }

    .open {
        transform: translate(0%);
    }

    .navlinks-container a {
        font-size: 18px;
        margin: 10px 0 10px 0;
    }
    .separate{
        width: 100%;
        height: 0.5px;
        background: var(--primary-color);
    }
    .nav-authentication {
        order: 3;
        margin-left: 0;
    }

    .signs-btn {
        display: none;
    }

    /* .sign-user {
        display: block;
        cursor: pointer;
        border: none;
    } */

    /* .sign-user img {
        width: 20px;
    } */

}

@media (max-width: 500px) {
    .nav-icon img {
        width: 100px;
    }

    .nav-icon span {
        font-size: 20px;
    }
}